In [146]:
import pandas as pd
pd.set_option("display.max_columns", None)
import datetime as dt
from utils import db_helper as database

In [147]:
db = database.DB()

In [148]:
df = db.get_table("covid_daily")
df_calendar_days = db.get_table("_calendar_days")

In [149]:
df.columns

Index([' covid_daily_id', 'countries_fk', 'calendar_days_fk', 'cases',
       'cases_delta', 'cases_delta_ref', 'cases_delta_ref_sympt', 'cases_7d',
       'cases_7d_sympt', 'cases_7d_ref', 'cases_7d_ref_sympt', 'deaths',
       'deaths_delta', 'recovered', 'recovered_delta', 'active_cases',
       'active_cases_delta', 'incidence_7d', 'incidence_7d_sympt',
       'incidence_7d_ref', 'incidence_7d_ref_sympt', 'last_update',
       'unique_key'],
      dtype='object')

In [150]:
df_calendar_days.columns

Index(['calendar_days_id', 'calendar_weeks_fk', 'iso_day'], dtype='object')

In [151]:
tmp = df.merge(df_calendar_days,
                left_on='calendar_days_fk',
                right_on='calendar_days_id',
                how='left',
                )

In [152]:
tmp.head()

,covid_daily_id,countries_fk,calendar_days_fk,cases,cases_delta,cases_delta_ref,cases_delta_ref_sympt,cases_7d,cases_7d_sympt,cases_7d_ref,cases_7d_ref_sympt,deaths,deaths_delta,recovered,recovered_delta,active_cases,active_cases_delta,incidence_7d,incidence_7d_sympt,incidence_7d_ref,incidence_7d_ref_sympt,last_update,unique_key,calendar_days_id,calendar_weeks_fk,iso_day
0,1,84,11038,16664,0,0,0,11947,11947,11947,11947,47,0,0,0,16617,0,14.3906,14.3906,14.3906,14.3906,2021-11-28 15:27:57,84-11038,11038,1577,2020-03-21
1,2,84,11039,18610,0,0,0,12693,12693,12693,12693,55,0,0,0,18555,0,15.2892,15.2892,15.2892,15.2892,2021-11-28 15:29:05,84-11039,11039,1577,2020-03-22
2,4,84,11040,22672,0,0,0,15774,15774,15774,15774,86,0,0,0,22586,0,19.0004,19.0004,19.0004,19.0004,2021-11-28 15:29:08,84-11040,11040,1578,2020-03-23
3,5,84,11041,27436,4814,4814,4814,18577,18577,18577,18577,114,28,0,0,27322,4786,22.3767,22.3767,22.3767,22.3767,2021-11-28 15:29:11,84-11041,11041,1578,2020-03-24
4,6,84,11042,31555,4191,4191,4191,19794,19794,19794,19794,149,36,0,0,31406,4155,23.8427,23.8427,23.8427,23.8427,2021-11-28 15:29:13,84-11042,11042,1578,2020-03-25

In [153]:
if 'iso_day' in tmp.columns:
        try:
            tmp['iso_day'] = pd.to_datetime(
                tmp['iso_day'], infer_datetime_format=True
            ).dt.date
            tmp['iso_day'] = pd.to_datetime(
                tmp['iso_day'], infer_datetime_format=True
            )
        except (KeyError, TypeError):
            print("Error trying to convert Date columns")

In [154]:
df_2020 = tmp[tmp['iso_day']==dt.datetime(2020,12,31)]
df_2021 = tmp[tmp['iso_day']==dt.datetime(2021,12,31)]

In [165]:
dt.date.today().day

datetime.date(2022, 4, 19)

In [172]:
df_2022 = tmp[tmp['iso_day']==dt.datetime(dt.date.today().year,dt.date.today().month,dt.date.today().day)]

In [173]:
df_2022.head()

,covid_daily_id,countries_fk,calendar_days_fk,cases,cases_delta,cases_delta_ref,cases_delta_ref_sympt,cases_7d,cases_7d_sympt,cases_7d_ref,cases_7d_ref_sympt,deaths,deaths_delta,recovered,recovered_delta,active_cases,active_cases_delta,incidence_7d,incidence_7d_sympt,incidence_7d_ref,incidence_7d_ref_sympt,last_update,unique_key,calendar_days_id,calendar_weeks_fk,iso_day
750,767,84,11797,123,123,123,132,123,123,123,123,123,123,123,123,123,123,13.0,123.0,123.0,123.0,2022-04-19 13:04:21,84-11797,11797,1686,2022-04-19

In [174]:
df_2020.head()

,covid_daily_id,countries_fk,calendar_days_fk,cases,cases_delta,cases_delta_ref,cases_delta_ref_sympt,cases_7d,cases_7d_sympt,cases_7d_ref,cases_7d_ref_sympt,deaths,deaths_delta,recovered,recovered_delta,active_cases,active_cases_delta,incidence_7d,incidence_7d_sympt,incidence_7d_ref,incidence_7d_ref_sympt,last_update,unique_key,calendar_days_id,calendar_weeks_fk,iso_day
285,289,84,11323,1719737,32552,15760,69,116257,33044,94562,11349,33071,964,1328153,25522,358513,6066,140.036,39.8028,113.904,13.6703,2021-11-28 16:38:45,84-11323,11323,1618,2020-12-31

In [175]:
df_2021.head()

,covid_daily_id,countries_fk,calendar_days_fk,cases,cases_delta,cases_delta_ref,cases_delta_ref_sympt,cases_7d,cases_7d_sympt,cases_7d_ref,cases_7d_ref_sympt,deaths,deaths_delta,recovered,recovered_delta,active_cases,active_cases_delta,incidence_7d,incidence_7d_sympt,incidence_7d_ref,incidence_7d_ref_sympt,last_update,unique_key,calendar_days_id,calendar_weeks_fk,iso_day
650,661,84,11688,7150422,41240,24362,65,178665,44285,159865,25485,111925,323,6382944,50608,655553,-9691,214.828,53.2485,192.222,30.6433,2021-12-31 13:03:02,84-11688,11688,1670,2021-12-31

In [197]:
test = pd.concat([df_2020, df_2021, df_2022])
test.set_index(test['iso_day'].dt.year, inplace=True)

In [198]:
test.head()

,covid_daily_id,countries_fk,calendar_days_fk,cases,cases_delta,cases_delta_ref,cases_delta_ref_sympt,cases_7d,cases_7d_sympt,cases_7d_ref,cases_7d_ref_sympt,deaths,deaths_delta,recovered,recovered_delta,active_cases,active_cases_delta,incidence_7d,incidence_7d_sympt,incidence_7d_ref,incidence_7d_ref_sympt,last_update,unique_key,calendar_days_id,calendar_weeks_fk,iso_day
iso_day,,,,,,,,,,,,,,,,,,,,,,,,,,
2020,289,84,11323,1719737,32552,15760,69,116257,33044,94562,11349,33071,964,1328153,25522,358513,6066,140.036,39.8028,113.904,13.6703,2021-11-28 16:38:45,84-11323,11323,1618,2020-12-31
2021,661,84,11688,7150422,41240,24362,65,178665,44285,159865,25485,111925,323,6382944,50608,655553,-9691,214.828,53.2485,192.222,30.6433,2021-12-31 13:03:02,84-11688,11688,1670,2021-12-31
2022,767,84,11797,123,123,123,132,123,123,123,123,123,123,123,123,123,123,13.000,123.0000,123.000,123.0000,2022-04-19 13:04:21,84-11797,11797,1686,2022-04-19

In [199]:
test.columns

Index([' covid_daily_id', 'countries_fk', 'calendar_days_fk', 'cases',
       'cases_delta', 'cases_delta_ref', 'cases_delta_ref_sympt', 'cases_7d',
       'cases_7d_sympt', 'cases_7d_ref', 'cases_7d_ref_sympt', 'deaths',
       'deaths_delta', 'recovered', 'recovered_delta', 'active_cases',
       'active_cases_delta', 'incidence_7d', 'incidence_7d_sympt',
       'incidence_7d_ref', 'incidence_7d_ref_sympt', 'last_update',
       'unique_key', 'calendar_days_id', 'calendar_weeks_fk', 'iso_day'],
      dtype='object')

In [190]:
test = test._get_numeric_data()

In [191]:
test.head()

,covid_daily_id,countries_fk,calendar_days_fk,cases,cases_delta,cases_delta_ref,cases_delta_ref_sympt,cases_7d,cases_7d_sympt,cases_7d_ref,cases_7d_ref_sympt,deaths,deaths_delta,recovered,recovered_delta,active_cases,active_cases_delta,incidence_7d,incidence_7d_sympt,incidence_7d_ref,incidence_7d_ref_sympt,calendar_days_id,calendar_weeks_fk
iso_day,,,,,,,,,,,,,,,,,,,,,,,
2020,289,84,11323,1719737,32552,15760,69,116257,33044,94562,11349,33071,964,1328153,25522,358513,6066,140.036,39.8028,113.904,13.6703,11323,1618
2021,661,84,11688,7150422,41240,24362,65,178665,44285,159865,25485,111925,323,6382944,50608,655553,-9691,214.828,53.2485,192.222,30.6433,11688,1670
2022,767,84,11797,123,123,123,132,123,123,123,123,123,123,123,123,123,123,13.000,123.0000,123.000,123.0000,11797,1686

In [192]:
test.loc[2021] = test.loc[2021] - test.loc[2020]
test.loc[2022] = test.loc[2022] - (test.loc[2021] + test.loc[2020])

In [193]:
test.head()

,covid_daily_id,countries_fk,calendar_days_fk,cases,cases_delta,cases_delta_ref,cases_delta_ref_sympt,cases_7d,cases_7d_sympt,cases_7d_ref,cases_7d_ref_sympt,deaths,deaths_delta,recovered,recovered_delta,active_cases,active_cases_delta,incidence_7d,incidence_7d_sympt,incidence_7d_ref,incidence_7d_ref_sympt,calendar_days_id,calendar_weeks_fk
iso_day,,,,,,,,,,,,,,,,,,,,,,,
2020,289,84,11323,1719737,32552,15760,69,116257,33044,94562,11349,33071,964,1328153,25522,358513,6066,140.036,39.8028,113.904,13.6703,11323,1618
2021,372,0,365,5430685,8688,8602,-4,62408,11241,65303,14136,78854,-641,5054791,25086,297040,-15757,74.792,13.4457,78.318,16.9730,365,52
2022,106,0,109,-7150299,-41117,-24239,67,-178542,-44162,-159742,-25362,-111802,-200,-6382821,-50485,-655430,9814,-201.828,69.7515,-69.222,92.3567,109,16

In [194]:
test.reset_index(inplace=True)
test.rename(columns={'iso_day': 'iso_year'}, inplace=True)

In [195]:
test.head()

,iso_year,covid_daily_id,countries_fk,calendar_days_fk,cases,cases_delta,cases_delta_ref,cases_delta_ref_sympt,cases_7d,cases_7d_sympt,cases_7d_ref,cases_7d_ref_sympt,deaths,deaths_delta,recovered,recovered_delta,active_cases,active_cases_delta,incidence_7d,incidence_7d_sympt,incidence_7d_ref,incidence_7d_ref_sympt,calendar_days_id,calendar_weeks_fk
0,2020,289,84,11323,1719737,32552,15760,69,116257,33044,94562,11349,33071,964,1328153,25522,358513,6066,140.036,39.8028,113.904,13.6703,11323,1618
1,2021,372,0,365,5430685,8688,8602,-4,62408,11241,65303,14136,78854,-641,5054791,25086,297040,-15757,74.792,13.4457,78.318,16.9730,365,52
2,2022,106,0,109,-7150299,-41117,-24239,67,-178542,-44162,-159742,-25362,-111802,-200,-6382821,-50485,-655430,9814,-201.828,69.7515,-69.222,92.3567,109,16