In [15]:
from sqlalchemy import create_engine, ForeignKey, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

engine = create_engine('sqlite:///corona_analysis.db', echo=True)
Base = declarative_base()

In [16]:
class Agegroups_05y(Base):
   __tablename__ = '_agegroups_05y'

   agegroups_05y_id = Column(Integer, primary_key = True)
   agegroup = Column(String, nullable=False, unique=True)

class Agegroups_10y(Base):
   __tablename__ = '_agegroups_10y'

   agegroups_10y_id = Column(Integer, primary_key = True)
   agegroup = Column(String, nullable=False, unique=True)
   number_observations = Column(Integer)
   avg_age = Column(Float)

In [25]:
def add_new_agegroup_05y(session: sessionmaker, agegroup: str):
    """
    Adds a new agegroup with a 5-year-interval
    """
    
    # check if agegroup already exist
    new_agegroup = (
        session.query(Agegroups_05y)
        .filter(Agegroups_05y.agegroup == agegroup)
    ).one_or_none()

    if new_agegroup is not None:
        return
    
    # create new agegroup
    new_agegroup = Agegroups_05y(agegroup=agegroup)
    
    # write to DB
    session.add(new_agegroup)
    session.commit()

In [18]:
Base.metadata.create_all(engine)

2022-07-01 23:33:05,709 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:33:05,710 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_agegroups_05y")
2022-07-01 23:33:05,710 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 23:33:05,711 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_agegroups_05y")
2022-07-01 23:33:05,711 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 23:33:05,712 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_agegroups_10y")
2022-07-01 23:33:05,712 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 23:33:05,713 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_agegroups_10y")
2022-07-01 23:33:05,713 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 23:33:05,713 INFO sqlalchemy.engine.Engine
CREATE TABLE _agegroups_05y (
	agegroups_05y_id INTEGER NOT NULL,
	agegroup VARCHAR NOT NULL,
	PRIMARY KEY (agegroups_05y_id),
	UNIQUE (agegroup)
)


2022-07-01 23:33:05,714 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2022-07-01 23:33:05,716 INFO sqlalchemy.engine.Engine
CREATE TABLE _agegroups_10y (
	agegroups_10y_id INTEGER NOT NULL,
	agegroup VARCHAR NOT NULL,
	number_observations INTEGER,
	avg_age FLOAT,
	PRIMARY KEY (agegroups_10y_id),
	UNIQUE (agegroup)
)


2022-07-01 23:33:05,717 INFO sqlalchemy.engine.Engine [no key 0.00035s] ()
2022-07-01 23:33:05,719 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
# create session object which will be used for connection
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [30]:
agegroups_05y = [
    "00-04",
    "05-09",
    "10-14",
    "15-19",
    "20-24",
    "25-29",
    "30-34",
    "35-39",
    "40-44",
    "45-49",
    "50-54",
    "55-59",
    "60-64",
    "65-69",
    "70-74",
    "75-79",
    "80+",
    "UNK"
]
for item in agegroups_05y:
    add_new_agegroup_05y(session=session, agegroup=item)

2022-07-01 23:44:19,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:44:19,249 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,250 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('00-04',)
2022-07-01 23:44:19,251 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,251 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('05-09',)
2022-07-01 23:44:19,252 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,252 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('10-14',)
2022-07-01 23:44:19,253 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,253 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('15-19',)
2022-07-01 23:44:19,254 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,255 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('20-24',)
2022-07-01 23:44:19,255 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,255 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('25-29',)
2022-07-01 23:44:19,256 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,256 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('30-34',)
2022-07-01 23:44:19,257 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,257 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('35-39',)
2022-07-01 23:44:19,258 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,259 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('40-44',)
2022-07-01 23:44:19,260 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,260 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('45-49',)
2022-07-01 23:44:19,261 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,261 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('50-54',)
2022-07-01 23:44:19,262 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,262 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('55-59',)
2022-07-01 23:44:19,263 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,263 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('60-64',)
2022-07-01 23:44:19,264 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,264 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('65-69',)
2022-07-01 23:44:19,265 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,265 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('70-74',)
2022-07-01 23:44:19,266 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,266 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('75-79',)
2022-07-01 23:44:19,267 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,268 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('80+',)
2022-07-01 23:44:19,269 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,269 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('UNK',)

In [34]:
def add_new_agegroup_10y(session: sessionmaker, agegroup: str, number_observations: int, avg_age: float):
    """
    Adds a new agegroup with a 10-year-interval
    """
    
    # check if agegroup already exist
    new_agegroup = (
        session.query(Agegroups_10y)
        .filter(Agegroups_10y.agegroup == agegroup)
    ).one_or_none()

    if new_agegroup is not None:
        return
    
    # create new agegroup
    new_agegroup = Agegroups_10y(
        agegroup=agegroup, 
        number_observations=number_observations, 
        avg_age=avg_age
    )
    
    # write to DB
    session.add(new_agegroup)
    session.commit()

In [35]:
agegroups_10y = { # agegroup, [number_observations, avg_age]
    "00-09": [10, 4.5],
    "10-19": [10, 14.5],
    "20-29": [10, 24.5],
    "30-39": [10, 34.5],
    "40-49": [10, 44.5],
    "50-59": [10, 54.5],
    "60-69": [10, 64.5],
    "70-79": [10, 74.5],
    "80+": [21, 90],
    "UNK": [0, 0],
}
for k, v, in agegroups_10y.items():
    add_new_agegroup_10y(session=session, agegroup=k, number_observations=v[0], avg_age=v[1])

2022-07-01 23:51:02,318 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,320 INFO sqlalchemy.engine.Engine [generated in 0.00160s] ('00-09',)
2022-07-01 23:51:02,321 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,321 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ('00-09', 10, 4.5)
2022-07-01 23:51:02,322 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,324 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,325 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,325 INFO sqlalchemy.engine.Engine [cached since 0.006968s ago] ('10-19',)
2022-07-01 23:51:02,326 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,326 INFO sqlalchemy.engine.Engine [cached since 0.005269s ago] ('10-19', 10, 14.5)
2022-07-01 23:51:02,327 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,329 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,329 INFO sqlalchemy.engine.Engine [cached since 0.01102s ago] ('20-29',)
2022-07-01 23:51:02,330 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,331 INFO sqlalchemy.engine.Engine [cached since 0.009776s ago] ('20-29', 10, 24.5)
2022-07-01 23:51:02,332 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,333 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,334 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,334 INFO sqlalchemy.engine.Engine [cached since 0.01633s ago] ('30-39',)
2022-07-01 23:51:02,335 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,335 INFO sqlalchemy.engine.Engine [cached since 0.01455s ago] ('30-39', 10, 34.5)
2022-07-01 23:51:02,336 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,338 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,339 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,339 INFO sqlalchemy.engine.Engine [cached since 0.02084s ago] ('40-49',)
2022-07-01 23:51:02,340 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,340 INFO sqlalchemy.engine.Engine [cached since 0.01913s ago] ('40-49', 10, 44.5)
2022-07-01 23:51:02,341 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,343 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,344 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,344 INFO sqlalchemy.engine.Engine [cached since 0.02616s ago] ('50-59',)
2022-07-01 23:51:02,345 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,345 INFO sqlalchemy.engine.Engine [cached since 0.02458s ago] ('50-59', 10, 54.5)
2022-07-01 23:51:02,346 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,348 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,348 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,349 INFO sqlalchemy.engine.Engine [cached since 0.03069s ago] ('60-69',)
2022-07-01 23:51:02,350 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,350 INFO sqlalchemy.engine.Engine [cached since 0.02915s ago] ('60-69', 10, 64.5)
2022-07-01 23:51:02,351 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,353 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,353 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,354 INFO sqlalchemy.engine.Engine [cached since 0.03562s ago] ('70-79',)
2022-07-01 23:51:02,355 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,355 INFO sqlalchemy.engine.Engine [cached since 0.03402s ago] ('70-79', 10, 74.5)
2022-07-01 23:51:02,355 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,357 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,357 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,358 INFO sqlalchemy.engine.Engine [cached since 0.03971s ago] ('80+',)
2022-07-01 23:51:02,359 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,359 INFO sqlalchemy.engine.Engine [cached since 0.03801s ago] ('80+', 21, 90.0)
2022-07-01 23:51:02,360 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,361 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,362 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,362 INFO sqlalchemy.engine.Engine [cached since 0.04431s ago] ('UNK',)
2022-07-01 23:51:02,364 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,364 INFO sqlalchemy.engine.Engine [cached since 0.04292s ago] ('UNK', 0, 0.0)
2022-07-01 23:51:02,364 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
class Invoice(Base):
   __tablename__ = 'invoices'
   
   id = Column(Integer, primary_key = True)
   custid = Column(Integer, ForeignKey('customers.id'))
   invno = Column(Integer)
   amount = Column(Integer)
   customer = relationship("Customer", back_populates = "invoices")

In [12]:
Customer.invoices = relationship("Invoice", order_by = Invoice.id, back_populates = "customer")
Base.metadata.create_all(engine)

2022-07-01 22:44:39,419 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 22:44:39,419 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2022-07-01 22:44:39,420 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 22:44:39,420 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2022-07-01 22:44:39,421 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 22:44:39,422 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoices")
2022-07-01 22:44:39,422 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 22:44:39,423 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoices")
2022-07-01 22:44:39,423 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 22:44:39,424 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id INTEGER NOT NULL,
	name VARCHAR,
	address VARCHAR,
	email VARCHAR,
	PRIMARY KEY (id)
)


2022-07-01 22:44:39,424 INFO sqlalchemy.engine.Engine [no key 0.00028s] ()
2022-07-01 22:44:39,427 INFO sqlalchemy.engine.Engine
CREATE TABLE invoices (
	id INTEGER NOT NULL,
	custid INTEGER,
	invno INTEGER,
	amount INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(custid) REFERENCES customers (id)
)


2022-07-01 22:44:39,427 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2022-07-01 22:44:39,428 INFO sqlalchemy.engine.Engine COMMIT