In [184]:
from sqlalchemy import MetaData, create_engine, ForeignKey, Column, Integer, String, Float, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker
from datetime import datetime as dt
from sqlalchemy.sql import func

engine = create_engine('sqlite:///corona_analysis.db', echo=True)
meta_data = MetaData(bind=engine)
Base = declarative_base()

# Agegroups

In [185]:
class Agegroups_05y(Base):
   __tablename__ = '_agegroups_05y'

   agegroups_05y_id = Column(Integer, primary_key = True)
   agegroup = Column(String, nullable=False, unique=True)
   # meta cols
   created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
   updated_on = Column(DateTime(timezone=True), default=func.now())
   unique_key = Column(String, nullable=False, unique=True)

class Agegroups_10y(Base):
   __tablename__ = '_agegroups_10y'

   agegroups_10y_id = Column(Integer, primary_key = True)
   agegroup = Column(String, nullable=False, unique=True)
   number_observations = Column(Integer)
   avg_age = Column(Float)
   # meta cols
   created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
   updated_on = Column(DateTime(timezone=True), default=func.now())
   unique_key = Column(String, nullable=False, unique=True)

In [183]:
dt.today()

datetime.datetime(2022, 7, 2, 9, 6, 15, 245103)

In [186]:
def add_new_agegroup_05y(session: sessionmaker, agegroup: str):
    """
    Adds a new agegroup with a 5-year-interval
    """
    
    # check if agegroup already exist
    new_agegroup = (
        session.query(Agegroups_05y)
        .filter(Agegroups_05y.agegroup == agegroup)
    ).one_or_none()

    if new_agegroup is not None:
        return
    
    # create new agegroup
    new_agegroup = Agegroups_05y(
        agegroup=agegroup,
        unique_key=agegroup
    )
    
    # write to DB
    session.add(new_agegroup)
    session.commit()

In [187]:
Base.metadata.create_all(engine)

2022-07-02 09:09:09,160 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:09,161 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_agegroups_05y")
2022-07-02 09:09:09,161 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:09:09,162 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_agegroups_05y")
2022-07-02 09:09:09,163 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:09:09,163 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_agegroups_10y")
2022-07-02 09:09:09,163 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:09:09,164 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_agegroups_10y")
2022-07-02 09:09:09,164 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:09:09,164 INFO sqlalchemy.engine.Engine
CREATE TABLE _agegroups_05y (
	agegroups_05y_id INTEGER NOT NULL,
	agegroup VARCHAR NOT NULL,
	created_on DATETIME NOT NULL,
	updated_on DATETIME,
	unique_key VARCHAR NOT NULL,
	PRIMARY KEY (agegroups_05y_id),
	UNIQUE (agegroup),
	UNIQUE (unique_key)
)


2022-07-02 09:09:09,165 INFO sqlalchemy.engine.Engine [no key 0.00025s] ()
2022-07-02 09:09:09,167 INFO sqlalchemy.engine.Engine
CREATE TABLE _agegroups_10y (
	agegroups_10y_id INTEGER NOT NULL,
	agegroup VARCHAR NOT NULL,
	number_observations INTEGER,
	avg_age FLOAT,
	created_on DATETIME NOT NULL,
	updated_on DATETIME,
	unique_key VARCHAR NOT NULL,
	PRIMARY KEY (agegroups_10y_id),
	UNIQUE (agegroup),
	UNIQUE (unique_key)
)


2022-07-02 09:09:09,167 INFO sqlalchemy.engine.Engine [no key 0.00069s] ()
2022-07-02 09:09:09,169 INFO sqlalchemy.engine.Engine COMMIT

In [188]:
# create session object which will be used for connection
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [189]:
agegroups_05y = [
    "00-04",
    "05-09",
    "10-14",
    "15-19",
    "20-24",
    "25-29",
    "30-34",
    "35-39",
    "40-44",
    "45-49",
    "50-54",
    "55-59",
    "60-64",
    "65-69",
    "70-74",
    "75-79",
    "80+",
    "UNK"
]
for item in agegroups_05y:
    add_new_agegroup_05y(session=session, agegroup=item)

2022-07-02 09:09:26,414 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,416 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,416 INFO sqlalchemy.engine.Engine [generated in 0.00063s] ('00-04',)
2022-07-02 09:09:26,418 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,419 INFO sqlalchemy.engine.Engine [generated in 0.00039s] ('00-04', '00-04')
2022-07-02 09:09:26,419 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,421 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,422 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,422 INFO sqlalchemy.engine.Engine [cached since 0.006461s ago] ('05-09',)
2022-07-02 09:09:26,423 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,424 INFO sqlalchemy.engine.Engine [cached since 0.00547s ago] ('05-09', '05-09')
2022-07-02 09:09:26,424 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,426 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,427 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,427 INFO sqlalchemy.engine.Engine [cached since 0.0115s ago] ('10-14',)
2022-07-02 09:09:26,428 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,429 INFO sqlalchemy.engine.Engine [cached since 0.01035s ago] ('10-14', '10-14')
2022-07-02 09:09:26,429 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,431 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,432 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,432 INFO sqlalchemy.engine.Engine [cached since 0.01609s ago] ('15-19',)
2022-07-02 09:09:26,433 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,433 INFO sqlalchemy.engine.Engine [cached since 0.015s ago] ('15-19', '15-19')
2022-07-02 09:09:26,434 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,436 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,436 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,436 INFO sqlalchemy.engine.Engine [cached since 0.02057s ago] ('20-24',)
2022-07-02 09:09:26,437 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,437 INFO sqlalchemy.engine.Engine [cached since 0.01922s ago] ('20-24', '20-24')
2022-07-02 09:09:26,438 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,440 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,441 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,441 INFO sqlalchemy.engine.Engine [cached since 0.02518s ago] ('25-29',)
2022-07-02 09:09:26,442 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,442 INFO sqlalchemy.engine.Engine [cached since 0.02387s ago] ('25-29', '25-29')
2022-07-02 09:09:26,443 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,444 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,445 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,445 INFO sqlalchemy.engine.Engine [cached since 0.02929s ago] ('30-34',)
2022-07-02 09:09:26,446 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,446 INFO sqlalchemy.engine.Engine [cached since 0.02803s ago] ('30-34', '30-34')
2022-07-02 09:09:26,447 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,449 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,449 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,449 INFO sqlalchemy.engine.Engine [cached since 0.03351s ago] ('35-39',)
2022-07-02 09:09:26,450 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,451 INFO sqlalchemy.engine.Engine [cached since 0.03255s ago] ('35-39', '35-39')
2022-07-02 09:09:26,451 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,453 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,454 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,454 INFO sqlalchemy.engine.Engine [cached since 0.03812s ago] ('40-44',)
2022-07-02 09:09:26,455 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,455 INFO sqlalchemy.engine.Engine [cached since 0.03712s ago] ('40-44', '40-44')
2022-07-02 09:09:26,456 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,458 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,458 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,458 INFO sqlalchemy.engine.Engine [cached since 0.04255s ago] ('45-49',)
2022-07-02 09:09:26,459 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,459 INFO sqlalchemy.engine.Engine [cached since 0.04123s ago] ('45-49', '45-49')
2022-07-02 09:09:26,460 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,462 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,463 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,463 INFO sqlalchemy.engine.Engine [cached since 0.04774s ago] ('50-54',)
2022-07-02 09:09:26,464 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,465 INFO sqlalchemy.engine.Engine [cached since 0.04644s ago] ('50-54', '50-54')
2022-07-02 09:09:26,465 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,467 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,468 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,468 INFO sqlalchemy.engine.Engine [cached since 0.05226s ago] ('55-59',)
2022-07-02 09:09:26,469 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,469 INFO sqlalchemy.engine.Engine [cached since 0.05107s ago] ('55-59', '55-59')
2022-07-02 09:09:26,470 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,472 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,472 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,472 INFO sqlalchemy.engine.Engine [cached since 0.05661s ago] ('60-64',)
2022-07-02 09:09:26,473 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,474 INFO sqlalchemy.engine.Engine [cached since 0.05539s ago] ('60-64', '60-64')
2022-07-02 09:09:26,474 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,476 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,477 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,477 INFO sqlalchemy.engine.Engine [cached since 0.06172s ago] ('65-69',)
2022-07-02 09:09:26,478 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,479 INFO sqlalchemy.engine.Engine [cached since 0.06052s ago] ('65-69', '65-69')
2022-07-02 09:09:26,480 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,481 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,482 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,482 INFO sqlalchemy.engine.Engine [cached since 0.06664s ago] ('70-74',)
2022-07-02 09:09:26,483 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,483 INFO sqlalchemy.engine.Engine [cached since 0.06524s ago] ('70-74', '70-74')
2022-07-02 09:09:26,484 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,486 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,486 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,486 INFO sqlalchemy.engine.Engine [cached since 0.07072s ago] ('75-79',)
2022-07-02 09:09:26,487 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,488 INFO sqlalchemy.engine.Engine [cached since 0.06937s ago] ('75-79', '75-79')
2022-07-02 09:09:26,488 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,490 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,490 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,491 INFO sqlalchemy.engine.Engine [cached since 0.07504s ago] ('80+',)
2022-07-02 09:09:26,492 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,492 INFO sqlalchemy.engine.Engine [cached since 0.07382s ago] ('80+', '80+')
2022-07-02 09:09:26,493 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:09:26,495 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:09:26,496 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-02 09:09:26,496 INFO sqlalchemy.engine.Engine [cached since 0.08015s ago] ('UNK',)
2022-07-02 09:09:26,497 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:09:26,497 INFO sqlalchemy.engine.Engine [cached since 0.07903s ago] ('UNK', 'UNK')
2022-07-02 09:09:26,498 INFO sqlalchemy.engine.Engine COMMIT

In [190]:
def add_new_agegroup_10y(session: sessionmaker, agegroup: str, number_observations: int, avg_age: float):
    """
    Adds a new agegroup with a 10-year-interval
    """
    
    # check if agegroup already exist
    new_agegroup = (
        session.query(Agegroups_10y)
        .filter(Agegroups_10y.agegroup == agegroup)
    ).one_or_none()

    if new_agegroup is not None:
        return
    
    # create new agegroup
    new_agegroup = Agegroups_10y(
        agegroup=agegroup, 
        number_observations=number_observations, 
        avg_age=avg_age,
        unique_key=agegroup
    )
    
    # write to DB
    session.add(new_agegroup)
    session.commit()

In [191]:
agegroups_10y = { # agegroup, [number_observations, avg_age]
    "00-09": [10, 4.5],
    "10-19": [10, 14.5],
    "20-29": [10, 24.5],
    "30-39": [10, 34.5],
    "40-49": [10, 44.5],
    "50-59": [10, 54.5],
    "60-69": [10, 64.5],
    "70-79": [10, 74.5],
    "80+": [21, 90],
    "UNK": [0, 0],
}
for k, v, in agegroups_10y.items():
    add_new_agegroup_10y(session=session, agegroup=k, number_observations=v[0], avg_age=v[1])

2022-07-02 09:15:46,333 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,335 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,336 INFO sqlalchemy.engine.Engine [generated in 0.00067s] ('00-09',)
2022-07-02 09:15:46,337 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,338 INFO sqlalchemy.engine.Engine [generated in 0.00047s] ('00-09', 10, 4.5, '00-09')
2022-07-02 09:15:46,338 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:15:46,340 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,341 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,341 INFO sqlalchemy.engine.Engine [cached since 0.00649s ago] ('10-19',)
2022-07-02 09:15:46,342 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,343 INFO sqlalchemy.engine.Engine [cached since 0.00539s ago] ('10-19', 10, 14.5, '10-19')
2022-07-02 09:15:46,343 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:15:46,345 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,346 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,346 INFO sqlalchemy.engine.Engine [cached since 0.01121s ago] ('20-29',)
2022-07-02 09:15:46,347 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,348 INFO sqlalchemy.engine.Engine [cached since 0.0105s ago] ('20-29', 10, 24.5, '20-29')
2022-07-02 09:15:46,348 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:15:46,350 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,351 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,351 INFO sqlalchemy.engine.Engine [cached since 0.01632s ago] ('30-39',)
2022-07-02 09:15:46,353 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,353 INFO sqlalchemy.engine.Engine [cached since 0.01603s ago] ('30-39', 10, 34.5, '30-39')
2022-07-02 09:15:46,354 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:15:46,356 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,356 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,356 INFO sqlalchemy.engine.Engine [cached since 0.02125s ago] ('40-49',)
2022-07-02 09:15:46,357 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,358 INFO sqlalchemy.engine.Engine [cached since 0.02041s ago] ('40-49', 10, 44.5, '40-49')
2022-07-02 09:15:46,359 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:15:46,361 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,361 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,361 INFO sqlalchemy.engine.Engine [cached since 0.0264s ago] ('50-59',)
2022-07-02 09:15:46,362 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,363 INFO sqlalchemy.engine.Engine [cached since 0.02539s ago] ('50-59', 10, 54.5, '50-59')
2022-07-02 09:15:46,363 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:15:46,365 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,365 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,365 INFO sqlalchemy.engine.Engine [cached since 0.03042s ago] ('60-69',)
2022-07-02 09:15:46,366 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,367 INFO sqlalchemy.engine.Engine [cached since 0.02934s ago] ('60-69', 10, 64.5, '60-69')
2022-07-02 09:15:46,367 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:15:46,369 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,369 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,369 INFO sqlalchemy.engine.Engine [cached since 0.03428s ago] ('70-79',)
2022-07-02 09:15:46,370 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,370 INFO sqlalchemy.engine.Engine [cached since 0.03325s ago] ('70-79', 10, 74.5, '70-79')
2022-07-02 09:15:46,371 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:15:46,373 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,373 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,373 INFO sqlalchemy.engine.Engine [cached since 0.03811s ago] ('80+',)
2022-07-02 09:15:46,374 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,374 INFO sqlalchemy.engine.Engine [cached since 0.03716s ago] ('80+', 21, 90.0, '80+')
2022-07-02 09:15:46,375 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:15:46,377 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:15:46,377 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-02 09:15:46,377 INFO sqlalchemy.engine.Engine [cached since 0.04226s ago] ('UNK',)
2022-07-02 09:15:46,378 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:15:46,379 INFO sqlalchemy.engine.Engine [cached since 0.04161s ago] ('UNK', 0, 0.0, 'UNK')
2022-07-02 09:15:46,380 INFO sqlalchemy.engine.Engine COMMIT

In [192]:
def get_agegroups_05y(session: sessionmaker):
    """Get a list of agegroup objects with a 05-year interval"""
    return session.query(Agegroups_05y).order_by(Agegroups_05y.agegroup).all()

def get_agegroups_10y(session: sessionmaker):
    """Get a list of agegroup objects with a 10-year interval"""
    return session.query(Agegroups_10y).order_by(Agegroups_10y.agegroup).all()

# Calendar

In [200]:
engine = create_engine('sqlite:///corona_analysis.db', echo=True)
meta_data = MetaData(bind=engine)
Base = declarative_base()

In [201]:
class CalendarYears(Base):
    __tablename__ = "_calendar_years"

    calendar_years_id = Column(Integer, primary_key=True)
    iso_year = Column(Integer, nullable=False, unique=True)
    # meta cols
    created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
    updated_on = Column(DateTime(timezone=True), default=func.now())
    unique_key = Column(String, nullable=False, unique=True)
    # relationships
    calendar_weeks = relationship("CalendarWeeks", backref="_calendar_years", cascade="all, delete")

In [202]:
class CalendarWeeks(Base):
    __tablename__ = "_calendar_weeks"

    calendar_weeks_id = Column(Integer, primary_key=True)
    calendar_years_fk = Column(Integer, ForeignKey("_calendar_years.calendar_years_id", ondelete="CASCADE", onupdate="CASCADE"), nullable=False)
    iso_week = Column(Integer, nullable=False)
    iso_key = Column(Integer, nullable=False, unique=True)
    # meta cols
    created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
    updated_on = Column(DateTime(timezone=True), default=func.now())
    unique_key = Column(String, nullable=False, unique=True)
    # relationships
    calendar_years = relationship("CalendarDays", backref="_calendar_weeks", cascade="all, delete")

In [203]:
class CalendarDays(Base):
    __tablename__ = "_calendar_days"

    calendar_days_id = Column(Integer, primary_key=True)
    calendar_weeks_fk = Column(Integer, ForeignKey("_calendar_weeks.calendar_weeks_id", ondelete="CASCADE", onupdate="CASCADE"), nullable=False)
    iso_day = Column(String, nullable=False, unique=True)
    # meta cols
    created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
    updated_on = Column(DateTime(timezone=True), default=func.now())
    unique_key = Column(String, nullable=False, unique=True)

In [204]:
Base.metadata.create_all(engine)

2022-07-02 09:22:05,170 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:05,171 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_calendar_years")
2022-07-02 09:22:05,171 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:22:05,172 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_calendar_years")
2022-07-02 09:22:05,173 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:22:05,173 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_calendar_weeks")
2022-07-02 09:22:05,173 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:22:05,174 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_calendar_weeks")
2022-07-02 09:22:05,174 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:22:05,175 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_calendar_days")
2022-07-02 09:22:05,175 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:22:05,175 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_calendar_days")
2022-07-02 09:22:05,175 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 09:22:05,176 INFO sqlalchemy.engine.Engine
CREATE TABLE _calendar_years (
	calendar_years_id INTEGER NOT NULL,
	iso_year INTEGER NOT NULL,
	created_on DATETIME NOT NULL,
	updated_on DATETIME,
	unique_key VARCHAR NOT NULL,
	PRIMARY KEY (calendar_years_id),
	UNIQUE (iso_year),
	UNIQUE (unique_key)
)


2022-07-02 09:22:05,177 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2022-07-02 09:22:05,179 INFO sqlalchemy.engine.Engine
CREATE TABLE _calendar_weeks (
	calendar_weeks_id INTEGER NOT NULL,
	calendar_years_fk INTEGER NOT NULL,
	iso_week INTEGER NOT NULL,
	iso_key INTEGER NOT NULL,
	created_on DATETIME NOT NULL,
	updated_on DATETIME,
	unique_key VARCHAR NOT NULL,
	PRIMARY KEY (calendar_weeks_id),
	FOREIGN KEY(calendar_years_fk) REFERENCES _calendar_years (calendar_years_id) ON DELETE CASCADE ON UPDATE CASCADE,
	UNIQUE (iso_key),
	UNIQUE (unique_key)
)


2022-07-02 09:22:05,179 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2022-07-02 09:22:05,181 INFO sqlalchemy.engine.Engine
CREATE TABLE _calendar_days (
	calendar_days_id INTEGER NOT NULL,
	calendar_weeks_fk INTEGER NOT NULL,
	iso_day VARCHAR NOT NULL,
	created_on DATETIME NOT NULL,
	updated_on DATETIME,
	unique_key VARCHAR NOT NULL,
	PRIMARY KEY (calendar_days_id),
	FOREIGN KEY(calendar_weeks_fk) REFERENCES _calendar_weeks (calendar_weeks_id) ON DELETE CASCADE ON UPDATE CASCADE,
	UNIQUE (iso_day),
	UNIQUE (unique_key)
)


2022-07-02 09:22:05,182 INFO sqlalchemy.engine.Engine [no key 0.00048s] ()
2022-07-02 09:22:05,184 INFO sqlalchemy.engine.Engine COMMIT

In [230]:
def add_new_calendar_year(session: sessionmaker, calendar_year: int) -> None:
    """
    Adds a new calendar year
    """
    
    # check if calendar year already exist
    year_exists = get_calendar_year(session=session, calendar_year=calendar_year)
    if year_exists is not None:
        return
   
    # create new entry
    new_calendar_year = CalendarYears(
        iso_year=calendar_year,
        unique_key=str(calendar_year)
    )
    
    # write to DB
    session.add(new_calendar_year)
    session.commit()

In [206]:
for year in range(1990, 2050):
    add_new_calendar_year(session=session, calendar_year=year)

2022-07-02 09:22:26,203 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,205 INFO sqlalchemy.engine.Engine [generated in 0.00148s] (1990,)
2022-07-02 09:22:26,207 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,207 INFO sqlalchemy.engine.Engine [generated in 0.00066s] (1990, '1990')
2022-07-02 09:22:26,208 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,211 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,211 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,212 INFO sqlalchemy.engine.Engine [cached since 0.008189s ago] (1991,)
2022-07-02 09:22:26,212 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,213 INFO sqlalchemy.engine.Engine [cached since 0.006195s ago] (1991, '1991')
2022-07-02 09:22:26,213 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,216 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,216 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,217 INFO sqlalchemy.engine.Engine [cached since 0.01308s ago] (1992,)
2022-07-02 09:22:26,217 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,218 INFO sqlalchemy.engine.Engine [cached since 0.01139s ago] (1992, '1992')
2022-07-02 09:22:26,219 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,220 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,221 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,221 INFO sqlalchemy.engine.Engine [cached since 0.01776s ago] (1993,)
2022-07-02 09:22:26,223 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,223 INFO sqlalchemy.engine.Engine [cached since 0.01629s ago] (1993, '1993')
2022-07-02 09:22:26,224 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,226 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,226 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,226 INFO sqlalchemy.engine.Engine [cached since 0.02306s ago] (1994,)
2022-07-02 09:22:26,228 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,228 INFO sqlalchemy.engine.Engine [cached since 0.02178s ago] (1994, '1994')
2022-07-02 09:22:26,229 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,231 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,233 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,233 INFO sqlalchemy.engine.Engine [cached since 0.02974s ago] (1995,)
2022-07-02 09:22:26,234 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,234 INFO sqlalchemy.engine.Engine [cached since 0.02785s ago] (1995, '1995')
2022-07-02 09:22:26,235 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,237 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,238 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,238 INFO sqlalchemy.engine.Engine [cached since 0.0347s ago] (1996,)
2022-07-02 09:22:26,239 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,239 INFO sqlalchemy.engine.Engine [cached since 0.03282s ago] (1996, '1996')
2022-07-02 09:22:26,240 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,242 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,242 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,243 INFO sqlalchemy.engine.Engine [cached since 0.03929s ago] (1997,)
2022-07-02 09:22:26,244 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,245 INFO sqlalchemy.engine.Engine [cached since 0.03794s ago] (1997, '1997')
2022-07-02 09:22:26,245 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,248 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,249 INFO sqlalchemy.engine.Engine [cached since 0.04517s ago] (1998,)
2022-07-02 09:22:26,250 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,250 INFO sqlalchemy.engine.Engine [cached since 0.04332s ago] (1998, '1998')
2022-07-02 09:22:26,251 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,253 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,253 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,253 INFO sqlalchemy.engine.Engine [cached since 0.04992s ago] (1999,)
2022-07-02 09:22:26,254 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,255 INFO sqlalchemy.engine.Engine [cached since 0.04818s ago] (1999, '1999')
2022-07-02 09:22:26,255 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,257 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,257 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,258 INFO sqlalchemy.engine.Engine [cached since 0.05422s ago] (2000,)
2022-07-02 09:22:26,259 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,259 INFO sqlalchemy.engine.Engine [cached since 0.0527s ago] (2000, '2000')
2022-07-02 09:22:26,260 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,262 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,262 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,263 INFO sqlalchemy.engine.Engine [cached since 0.0594s ago] (2001,)
2022-07-02 09:22:26,264 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,264 INFO sqlalchemy.engine.Engine [cached since 0.05744s ago] (2001, '2001')
2022-07-02 09:22:26,265 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,267 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,268 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,268 INFO sqlalchemy.engine.Engine [cached since 0.06475s ago] (2002,)
2022-07-02 09:22:26,269 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,270 INFO sqlalchemy.engine.Engine [cached since 0.06289s ago] (2002, '2002')
2022-07-02 09:22:26,270 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,272 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,273 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,273 INFO sqlalchemy.engine.Engine [cached since 0.06943s ago] (2003,)
2022-07-02 09:22:26,274 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,274 INFO sqlalchemy.engine.Engine [cached since 0.06754s ago] (2003, '2003')
2022-07-02 09:22:26,275 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,276 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,277 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,277 INFO sqlalchemy.engine.Engine [cached since 0.07367s ago] (2004,)
2022-07-02 09:22:26,278 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,278 INFO sqlalchemy.engine.Engine [cached since 0.07183s ago] (2004, '2004')
2022-07-02 09:22:26,279 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,281 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,282 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,283 INFO sqlalchemy.engine.Engine [cached since 0.07915s ago] (2005,)
2022-07-02 09:22:26,284 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,284 INFO sqlalchemy.engine.Engine [cached since 0.07745s ago] (2005, '2005')
2022-07-02 09:22:26,285 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,288 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,289 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,289 INFO sqlalchemy.engine.Engine [cached since 0.08572s ago] (2006,)
2022-07-02 09:22:26,290 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,291 INFO sqlalchemy.engine.Engine [cached since 0.08398s ago] (2006, '2006')
2022-07-02 09:22:26,291 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,293 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,294 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,294 INFO sqlalchemy.engine.Engine [cached since 0.0904s ago] (2007,)
2022-07-02 09:22:26,295 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,295 INFO sqlalchemy.engine.Engine [cached since 0.0885s ago] (2007, '2007')
2022-07-02 09:22:26,296 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,298 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,298 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,299 INFO sqlalchemy.engine.Engine [cached since 0.09522s ago] (2008,)
2022-07-02 09:22:26,300 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,300 INFO sqlalchemy.engine.Engine [cached since 0.09367s ago] (2008, '2008')
2022-07-02 09:22:26,301 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,303 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,304 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,304 INFO sqlalchemy.engine.Engine [cached since 0.1007s ago] (2009,)
2022-07-02 09:22:26,305 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,306 INFO sqlalchemy.engine.Engine [cached since 0.09902s ago] (2009, '2009')
2022-07-02 09:22:26,306 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,308 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,309 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,309 INFO sqlalchemy.engine.Engine [cached since 0.1058s ago] (2010,)
2022-07-02 09:22:26,310 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-02 09:22:26,311 INFO sqlalchemy.engine.Engine [cached since 0.1041s ago] (2010, '2010')
2022-07-02 09:22:26,311 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 09:22:26,313 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 09:22:26,314 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 09:22:26,315 INFO sqlalchemy.engine.Engine [cached since 0.1111s ago] (2011,)
2022-07-02 09:22:26,316 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)

In [93]:
def get_calendar_years(session: sessionmaker):
    """Get a list of calendar years objects"""
    return session.query(CalendarYears).order_by(CalendarYears.iso_year).all()

# Map Years with its Foreign Keys
calendar_years = get_calendar_years(session=session)
calendar_years_dict = {}
calendar_years_dict_reverse = {}
for year in calendar_years:
    calendar_years_dict[year.iso_year] = year.calendar_years_id
for year in calendar_years:
    calendar_years_dict_reverse[year.calendar_years_id] = year.iso_year
#calendar_years_dict

2022-07-02 06:28:13,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 06:28:13,029 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years ORDER BY _calendar_years.iso_year
2022-07-02 06:28:13,030 INFO sqlalchemy.engine.Engine [generated in 0.00039s] ()

In [229]:
from sqlalchemy.engine.row import Row

def get_calendar_year(session: sessionmaker, calendar_year: int) -> Row:
    return (
        session.query(CalendarYears.iso_year)
        .filter(CalendarYears.iso_year == calendar_year)
    ).one_or_none()

## ISO

In [207]:
import isoweek

calendar_weeks_dict = {}

for year, calendar_years_fk in calendar_years_dict.items():
    weeks_list = []
    weeks = isoweek.Week.last_week_of_year(year).week
    for week in range(1, weeks+1):
        weeks_list.append(week)
    calendar_weeks_dict[calendar_years_fk] = weeks_list

calendar_weeks_dict

{1: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 2: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 3: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 4: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 5: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 6: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 7: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 8: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 9: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 10: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 11: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 12: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 13: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 14: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 15: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 16: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 17: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 18: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 19: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 20: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 21: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 22: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 23: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 24: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 25: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 26: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 27: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 28: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 29: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 30: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 31: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 32: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 33: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 34: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 35: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 36: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 37: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 38: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 39: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 40: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 41: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 42: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 43: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 44: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 45: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 46: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 47: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 48: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 49: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 50: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 51: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 52: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 53: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 54: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 55: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 56: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 57: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 58: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 59: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 60: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52]}

In [209]:
import pandas as pd
import numpy as np
# create dataframe
df = pd.DataFrame.from_dict(calendar_weeks_dict, orient="index")
df = df.T.unstack().to_frame().dropna().reset_index(level=0).applymap(np.int64)
df.columns = ["calendar_years_fk", "iso_week"]
df

    calendar_years_fk  iso_week
0                   1         1
1                   1         2
2                   1         3
3                   1         4
4                   1         5
..                ...       ...
47                 60        48
48                 60        49
49                 60        50
50                 60        51
51                 60        52

[3131 rows x 2 columns]

In [210]:
df["iso_key"] = df["calendar_years_fk"].map(calendar_years_dict_reverse).astype(str) + df["iso_week"].astype(str).str.zfill(2)
df["unique_key"] = df["iso_key"]
df

    calendar_years_fk  iso_week iso_key unique_key
0                   1         1  199001     199001
1                   1         2  199002     199002
2                   1         3  199003     199003
3                   1         4  199004     199004
4                   1         5  199005     199005
..                ...       ...     ...        ...
47                 60        48  204948     204948
48                 60        49  204949     204949
49                 60        50  204950     204950
50                 60        51  204951     204951
51                 60        52  204952     204952

[3131 rows x 4 columns]

In [157]:
def add_new_calendar_weeks(session: sessionmaker, calendar_year: int) -> None:
    """
    Adds calendar weeks for a given year by ISO standard
    """
    
    # check if calendar year already exist
    new_calendar_week = (
        session.query(CalendarWeeks)
        .filter(CalendarWeeks.iso_key == iso_key)
    ).one_or_none()

    if new_calendar_week is not None:
        return
    
    # create new agegroup
    new_calendar_week = CalendarWeeks(
        calendar_years_fk=calendar_years_fk,
        iso_week=iso_week,
        iso_key=iso_key,
        unique_key=iso_key
    )
    
    # write to DB
    session.add(new_calendar_week)
    session.commit()

In [158]:
from sqlalchemy.exc import NoSuchTableError
from sqlalchemy import Table

def checkIfTableExist(table_name: str):
    metadata = MetaData(engine)
    try:
        table = Table(table_name, metadata, autoload=True)
        return True
    except NoSuchTableError:
        return False
l = checkIfTableExist("_calendar_years")
print(l)

def getTableByName(table_name: str):
    metadata = MetaData(engine)
    try:
        table = Table(table_name, metadata, autoload=True)
        return table
    except NoSuchTableError:
        return None
l = getTableByName("_calendar_years")
print(l)

2022-07-02 07:39:33,703 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("_calendar_years")
2022-07-02 07:39:33,703 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,704 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:39:33,705 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-02 07:39:33,706 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("_calendar_years")
2022-07-02 07:39:33,706 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,706 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("_calendar_years")
2022-07-02 07:39:33,707 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,707 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:39:33,707 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-02 07:39:33,708 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-02 07:39:33,708 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,708 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-02 07:39:33,709 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,710 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_2")
2022-07-02 07:39:33,710 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,711 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_1")
2022-07-02 07:39:33,711 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,711 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:39:33,712 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
True
2022-07-02 07:39:33,713 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("_calendar_years")
2022-07-02 07:39:33,714 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,715 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:39:33,715 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-02 07:39:33,716 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("_calendar_years")
2022-07-02 07:39:33,716 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,716 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("_calendar_years")
2022-07-02 07:39:33,717 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,717 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:39:33,717 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-02 07:39:33,718 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-02 07:39:33,718 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,719 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-02 07:39:33,719 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,720 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_2")
2022-07-02 07:39:33,720 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,721 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_1")
2022-07-02 07:39:33,721 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:39:33,721 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:39:33,722 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
_calendar_years

In [168]:
df["unique_key"].name

'unique_key'

In [171]:
import uuid
import sqlalchemy

# Credit to https://stackoverflow.com/questions/61366664/how-to-upsert-pandas-dataframe-to-postgresql-table
def upsert_df(df: pd.DataFrame, table_name: str, engine: sqlalchemy.engine.Engine) -> bool:

    # df must contain a unique_key column
    if "unique_key" not in df.columns:
        raise RuntimeError("DataFrame must contain a 'unique_key' column")

    # check if table exist. If not, create it using to_sql
    table_exist = checkIfTableExist(table_name=table_name)
    if not table_exist:
        df.to_sql(table_name, engine)
        return True

    # table exist, so use UPSERT logic...
    
    # 1. create temporary table with unique id
    tmp_table = f"tmp_{uuid.uuid4().hex[:6]}"
    df.to_sql(tmp_table, engine, index=True)

    # 2. 
    columns = list(df.columns)
    columns_str = ", ".join(col for col in columns)

    # The "excluded." prefix causes the column to refer to the value that 
    # would have been inserted if there been no conflict.
    update_columns_str = ", ".join(
        f'{col} = excluded.{col}' for col in columns
    )

    # 3.
    """ example:
    INSERT INTO _calendar_years(iso_year)
    VALUES(2050)
    ON CONFLICT(iso_year) DO UPDATE SET
    iso_year=excluded.iso_year;
    """
    query_upsert = f"""
        INSERT INTO {table_name}({columns_str})
        SELECT {columns_str} FROM {tmp_table} WHERE true
        ON CONFLICT(unique_key) DO UPDATE SET
        {update_columns_str};
    """

    # 4. execute upsert query & drop temporary table
    engine.execute(query_upsert)
    engine.execute(f"DROP TABLE {tmp_table}")

    return True

upsert_df(df, "_calendar_weeks", engine)

2022-07-02 07:48:19,946 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("_calendar_weeks")
2022-07-02 07:48:19,947 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,948 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:48:19,949 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_weeks',)
2022-07-02 07:48:19,949 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("_calendar_weeks")
2022-07-02 07:48:19,950 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,950 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:48:19,951 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_weeks',)
2022-07-02 07:48:19,951 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("_calendar_years")
2022-07-02 07:48:19,952 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,952 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:48:19,953 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-02 07:48:19,953 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("_calendar_years")
2022-07-02 07:48:19,954 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,954 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("_calendar_years")
2022-07-02 07:48:19,954 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,955 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:48:19,955 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-02 07:48:19,957 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-02 07:48:19,957 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,958 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-02 07:48:19,958 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,958 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_2")
2022-07-02 07:48:19,959 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,959 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_1")
2022-07-02 07:48:19,960 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,960 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:48:19,961 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-02 07:48:19,962 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_weeks")
2022-07-02 07:48:19,962 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,963 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_weeks")
2022-07-02 07:48:19,963 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,964 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_weeks_2")
2022-07-02 07:48:19,964 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,964 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_weeks_1")
2022-07-02 07:48:19,965 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,965 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-02 07:48:19,966 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_weeks',)
2022-07-02 07:48:19,968 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("tmp_2156a0")
2022-07-02 07:48:19,969 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,969 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("tmp_2156a0")
2022-07-02 07:48:19,970 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,971 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 07:48:19,971 INFO sqlalchemy.engine.Engine
CREATE TABLE tmp_2156a0 (
	"index" BIGINT,
	calendar_years_fk BIGINT,
	iso_week BIGINT,
	iso_key TEXT,
	unique_key TEXT
)


2022-07-02 07:48:19,972 INFO sqlalchemy.engine.Engine [no key 0.00035s] ()
2022-07-02 07:48:19,974 INFO sqlalchemy.engine.Engine CREATE INDEX ix_tmp_2156a0_index ON tmp_2156a0 ("index")
2022-07-02 07:48:19,974 INFO sqlalchemy.engine.Engine [no key 0.00063s] ()
2022-07-02 07:48:19,976 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 07:48:19,978 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 07:48:19,984 INFO sqlalchemy.engine.Engine INSERT INTO tmp_2156a0 ("index", calendar_years_fk, iso_week, iso_key, unique_key) VALUES (?, ?, ?, ?, ?)
2022-07-02 07:48:19,985 INFO sqlalchemy.engine.Engine [generated in 0.00513s] ((0, 1, 1, '199001', '199001'), (1, 1, 2, '199002', '199002'), (2, 1, 3, '199003', '199003'), (3, 1, 4, '199004', '199004'), (4, 1, 5, '199005', '199005'), (5, 1, 6, '199006', '199006'), (6, 1, 7, '199007', '199007'), (7, 1, 8, '199008', '199008')  ... displaying 10 of 3131 total bound parameter sets ...  (50, 60, 51, '204951', '204951'), (51, 60, 52, '204952', '204952'))
2022-07-02 07:48:19,989 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 07:48:19,991 INFO sqlalchemy.engine.Engine
        INSERT INTO _calendar_weeks(calendar_years_fk, iso_week, iso_key, unique_key)
        SELECT calendar_years_fk, iso_week, iso_key, unique_key FROM tmp_2156a0 WHERE true
        ON CONFLICT(unique_key) DO UPDATE SET
        calendar_years_fk = excluded.calendar_years_fk, iso_week = excluded.iso_week, iso_key = excluded.iso_key, unique_key = excluded.unique_key;

2022-07-02 07:48:19,992 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:19,997 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 07:48:19,999 INFO sqlalchemy.engine.Engine DROP TABLE tmp_2156a0
2022-07-02 07:48:19,999 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 07:48:20,002 INFO sqlalchemy.engine.Engine COMMIT

True

In [104]:
#CalendarDays.__table__.drop(engine)
#CalendarWeeks.__table__.drop(engine)
#CalendarYears.__table__.drop(engine)

2022-07-02 01:03:32,001 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 01:03:32,002 INFO sqlalchemy.engine.Engine
DROP TABLE _calendar_days
2022-07-02 01:03:32,002 INFO sqlalchemy.engine.Engine [no key 0.00051s] ()
2022-07-02 01:03:32,005 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 01:03:32,006 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 01:03:32,006 INFO sqlalchemy.engine.Engine
DROP TABLE _calendar_weeks
2022-07-02 01:03:32,006 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2022-07-02 01:03:32,008 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 01:03:32,009 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 01:03:32,009 INFO sqlalchemy.engine.Engine
DROP TABLE _calendar_years
2022-07-02 01:03:32,009 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
2022-07-02 01:03:32,011 INFO sqlalchemy.engine.Engine COMMIT