In [1]:
from sqlalchemy import MetaData, create_engine, ForeignKey, Column, Integer, String, Float, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker
from datetime import datetime as dt
from sqlalchemy.sql import func

engine = create_engine('sqlite:///corona_analysis.db', echo=True)
meta_data = MetaData(bind=engine)
Base = declarative_base()

# Agegroups

In [2]:
class Agegroups_05y(Base):
   __tablename__ = '_agegroups_05y'

   agegroups_05y_id = Column(Integer, primary_key = True)
   agegroup = Column(String, nullable=False, unique=True)
   # meta cols
   created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
   updated_on = Column(DateTime(timezone=True), default=func.now())
   unique_key = Column(String, nullable=False, unique=True)

class Agegroups_10y(Base):
   __tablename__ = '_agegroups_10y'

   agegroups_10y_id = Column(Integer, primary_key = True)
   agegroup = Column(String, nullable=False, unique=True)
   number_observations = Column(Integer)
   avg_age = Column(Float)
   # meta cols
   created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
   updated_on = Column(DateTime(timezone=True), default=func.now())
   unique_key = Column(String, nullable=False, unique=True)

In [3]:
dt.today()

datetime.datetime(2022, 7, 3, 3, 47, 27, 176820)

In [4]:
def add_new_agegroup_05y(session: sessionmaker, agegroup: str):
    """
    Adds a new agegroup with a 5-year-interval
    """
    
    # check if agegroup already exist
    new_agegroup = (
        session.query(Agegroups_05y)
        .filter(Agegroups_05y.agegroup == agegroup)
    ).one_or_none()

    if new_agegroup is not None:
        return
    
    # create new agegroup
    new_agegroup = Agegroups_05y(
        agegroup=agegroup,
        unique_key=agegroup
    )
    
    # write to DB
    session.add(new_agegroup)
    session.commit()

In [5]:
Base.metadata.create_all(engine)

2022-07-03 03:47:29,711 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:29,712 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_agegroups_05y")
2022-07-03 03:47:29,712 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:47:29,713 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_agegroups_05y")
2022-07-03 03:47:29,713 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:47:29,714 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_agegroups_10y")
2022-07-03 03:47:29,714 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:47:29,714 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_agegroups_10y")
2022-07-03 03:47:29,715 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:47:29,716 INFO sqlalchemy.engine.Engine
CREATE TABLE _agegroups_05y (
	agegroups_05y_id INTEGER NOT NULL,
	agegroup VARCHAR NOT NULL,
	created_on DATETIME NOT NULL,
	updated_on DATETIME,
	unique_key VARCHAR NOT NULL,
	PRIMARY KEY (agegroups_05y_id),
	UNIQUE (agegroup),
	UNIQUE (unique_key)
)


2022-07-03 03:47:29,716 INFO sqlalchemy.engine.Engine [no key 0.00043s] ()
2022-07-03 03:47:29,719 INFO sqlalchemy.engine.Engine
CREATE TABLE _agegroups_10y (
	agegroups_10y_id INTEGER NOT NULL,
	agegroup VARCHAR NOT NULL,
	number_observations INTEGER,
	avg_age FLOAT,
	created_on DATETIME NOT NULL,
	updated_on DATETIME,
	unique_key VARCHAR NOT NULL,
	PRIMARY KEY (agegroups_10y_id),
	UNIQUE (agegroup),
	UNIQUE (unique_key)
)


2022-07-03 03:47:29,719 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2022-07-03 03:47:29,721 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
# create session object which will be used for connection
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [7]:
agegroups_05y = [
    "00-04",
    "05-09",
    "10-14",
    "15-19",
    "20-24",
    "25-29",
    "30-34",
    "35-39",
    "40-44",
    "45-49",
    "50-54",
    "55-59",
    "60-64",
    "65-69",
    "70-74",
    "75-79",
    "80+",
    "UNK"
]
for item in agegroups_05y:
    add_new_agegroup_05y(session=session, agegroup=item)

2022-07-03 03:47:31,429 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,431 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,431 INFO sqlalchemy.engine.Engine [generated in 0.00054s] ('00-04',)
2022-07-03 03:47:31,433 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,434 INFO sqlalchemy.engine.Engine [generated in 0.00060s] ('00-04', '00-04')
2022-07-03 03:47:31,435 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,436 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,437 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,437 INFO sqlalchemy.engine.Engine [cached since 0.00634s ago] ('05-09',)
2022-07-03 03:47:31,438 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,438 INFO sqlalchemy.engine.Engine [cached since 0.005012s ago] ('05-09', '05-09')
2022-07-03 03:47:31,439 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,441 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,442 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,443 INFO sqlalchemy.engine.Engine [cached since 0.01182s ago] ('10-14',)
2022-07-03 03:47:31,444 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,444 INFO sqlalchemy.engine.Engine [cached since 0.01098s ago] ('10-14', '10-14')
2022-07-03 03:47:31,445 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,447 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,447 INFO sqlalchemy.engine.Engine [cached since 0.01649s ago] ('15-19',)
2022-07-03 03:47:31,448 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,449 INFO sqlalchemy.engine.Engine [cached since 0.01558s ago] ('15-19', '15-19')
2022-07-03 03:47:31,450 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,452 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,452 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,453 INFO sqlalchemy.engine.Engine [cached since 0.022s ago] ('20-24',)
2022-07-03 03:47:31,454 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,454 INFO sqlalchemy.engine.Engine [cached since 0.02091s ago] ('20-24', '20-24')
2022-07-03 03:47:31,455 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,457 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,457 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,458 INFO sqlalchemy.engine.Engine [cached since 0.0267s ago] ('25-29',)
2022-07-03 03:47:31,458 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,459 INFO sqlalchemy.engine.Engine [cached since 0.02561s ago] ('25-29', '25-29')
2022-07-03 03:47:31,459 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,461 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,462 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,462 INFO sqlalchemy.engine.Engine [cached since 0.03136s ago] ('30-34',)
2022-07-03 03:47:31,463 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,463 INFO sqlalchemy.engine.Engine [cached since 0.03019s ago] ('30-34', '30-34')
2022-07-03 03:47:31,464 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,465 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,466 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,466 INFO sqlalchemy.engine.Engine [cached since 0.0354s ago] ('35-39',)
2022-07-03 03:47:31,467 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,467 INFO sqlalchemy.engine.Engine [cached since 0.03437s ago] ('35-39', '35-39')
2022-07-03 03:47:31,468 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,470 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,470 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,470 INFO sqlalchemy.engine.Engine [cached since 0.03954s ago] ('40-44',)
2022-07-03 03:47:31,471 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,472 INFO sqlalchemy.engine.Engine [cached since 0.03862s ago] ('40-44', '40-44')
2022-07-03 03:47:31,473 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,474 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,475 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,475 INFO sqlalchemy.engine.Engine [cached since 0.04446s ago] ('45-49',)
2022-07-03 03:47:31,476 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,477 INFO sqlalchemy.engine.Engine [cached since 0.04357s ago] ('45-49', '45-49')
2022-07-03 03:47:31,477 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,479 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,479 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,479 INFO sqlalchemy.engine.Engine [cached since 0.04852s ago] ('50-54',)
2022-07-03 03:47:31,480 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,480 INFO sqlalchemy.engine.Engine [cached since 0.04725s ago] ('50-54', '50-54')
2022-07-03 03:47:31,481 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,483 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,483 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,483 INFO sqlalchemy.engine.Engine [cached since 0.05242s ago] ('55-59',)
2022-07-03 03:47:31,484 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,484 INFO sqlalchemy.engine.Engine [cached since 0.05123s ago] ('55-59', '55-59')
2022-07-03 03:47:31,485 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,487 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,487 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,488 INFO sqlalchemy.engine.Engine [cached since 0.05717s ago] ('60-64',)
2022-07-03 03:47:31,489 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,489 INFO sqlalchemy.engine.Engine [cached since 0.05605s ago] ('60-64', '60-64')
2022-07-03 03:47:31,490 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,492 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,493 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,493 INFO sqlalchemy.engine.Engine [cached since 0.06203s ago] ('65-69',)
2022-07-03 03:47:31,494 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,494 INFO sqlalchemy.engine.Engine [cached since 0.06095s ago] ('65-69', '65-69')
2022-07-03 03:47:31,495 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,497 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,497 INFO sqlalchemy.engine.Engine [cached since 0.06629s ago] ('70-74',)
2022-07-03 03:47:31,498 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,498 INFO sqlalchemy.engine.Engine [cached since 0.06516s ago] ('70-74', '70-74')
2022-07-03 03:47:31,499 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,501 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,501 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,501 INFO sqlalchemy.engine.Engine [cached since 0.07054s ago] ('75-79',)
2022-07-03 03:47:31,502 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,503 INFO sqlalchemy.engine.Engine [cached since 0.06944s ago] ('75-79', '75-79')
2022-07-03 03:47:31,503 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,505 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,505 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,506 INFO sqlalchemy.engine.Engine [cached since 0.07478s ago] ('80+',)
2022-07-03 03:47:31,507 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,507 INFO sqlalchemy.engine.Engine [cached since 0.07374s ago] ('80+', '80+')
2022-07-03 03:47:31,508 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:31,509 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:31,509 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup, _agegroups_05y.created_on AS _agegroups_05y_created_on, _agegroups_05y.updated_on AS _agegroups_05y_updated_on, _agegroups_05y.unique_key AS _agegroups_05y_unique_key
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-03 03:47:31,510 INFO sqlalchemy.engine.Engine [cached since 0.07886s ago] ('UNK',)
2022-07-03 03:47:31,511 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_05y (agegroup, created_on, updated_on, unique_key) VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:31,511 INFO sqlalchemy.engine.Engine [cached since 0.07801s ago] ('UNK', 'UNK')
2022-07-03 03:47:31,512 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
def add_new_agegroup_10y(session: sessionmaker, agegroup: str, number_observations: int, avg_age: float):
    """
    Adds a new agegroup with a 10-year-interval
    """
    
    # check if agegroup already exist
    new_agegroup = (
        session.query(Agegroups_10y)
        .filter(Agegroups_10y.agegroup == agegroup)
    ).one_or_none()

    if new_agegroup is not None:
        return
    
    # create new agegroup
    new_agegroup = Agegroups_10y(
        agegroup=agegroup, 
        number_observations=number_observations, 
        avg_age=avg_age,
        unique_key=agegroup
    )
    
    # write to DB
    session.add(new_agegroup)
    session.commit()

In [9]:
agegroups_10y = { # agegroup, [number_observations, avg_age]
    "00-09": [10, 4.5],
    "10-19": [10, 14.5],
    "20-29": [10, 24.5],
    "30-39": [10, 34.5],
    "40-49": [10, 44.5],
    "50-59": [10, 54.5],
    "60-69": [10, 64.5],
    "70-79": [10, 74.5],
    "80+": [21, 90],
    "UNK": [0, 0],
}
for k, v, in agegroups_10y.items():
    add_new_agegroup_10y(session=session, agegroup=k, number_observations=v[0], avg_age=v[1])

2022-07-03 03:47:33,626 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,628 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,628 INFO sqlalchemy.engine.Engine [generated in 0.00050s] ('00-09',)
2022-07-03 03:47:33,629 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,630 INFO sqlalchemy.engine.Engine [generated in 0.00059s] ('00-09', 10, 4.5, '00-09')
2022-07-03 03:47:33,631 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:33,632 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,633 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,633 INFO sqlalchemy.engine.Engine [cached since 0.005438s ago] ('10-19',)
2022-07-03 03:47:33,634 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,635 INFO sqlalchemy.engine.Engine [cached since 0.005155s ago] ('10-19', 10, 14.5, '10-19')
2022-07-03 03:47:33,635 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:33,637 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,637 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,638 INFO sqlalchemy.engine.Engine [cached since 0.009898s ago] ('20-29',)
2022-07-03 03:47:33,639 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,640 INFO sqlalchemy.engine.Engine [cached since 0.01057s ago] ('20-29', 10, 24.5, '20-29')
2022-07-03 03:47:33,641 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:33,642 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,643 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,643 INFO sqlalchemy.engine.Engine [cached since 0.0153s ago] ('30-39',)
2022-07-03 03:47:33,644 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,644 INFO sqlalchemy.engine.Engine [cached since 0.01497s ago] ('30-39', 10, 34.5, '30-39')
2022-07-03 03:47:33,645 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:33,647 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,647 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,647 INFO sqlalchemy.engine.Engine [cached since 0.01967s ago] ('40-49',)
2022-07-03 03:47:33,648 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,649 INFO sqlalchemy.engine.Engine [cached since 0.01937s ago] ('40-49', 10, 44.5, '40-49')
2022-07-03 03:47:33,649 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:33,651 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,652 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,653 INFO sqlalchemy.engine.Engine [cached since 0.02475s ago] ('50-59',)
2022-07-03 03:47:33,653 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,654 INFO sqlalchemy.engine.Engine [cached since 0.02414s ago] ('50-59', 10, 54.5, '50-59')
2022-07-03 03:47:33,654 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:33,656 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,657 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,657 INFO sqlalchemy.engine.Engine [cached since 0.02914s ago] ('60-69',)
2022-07-03 03:47:33,658 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,658 INFO sqlalchemy.engine.Engine [cached since 0.02882s ago] ('60-69', 10, 64.5, '60-69')
2022-07-03 03:47:33,659 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:33,661 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,661 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,661 INFO sqlalchemy.engine.Engine [cached since 0.03363s ago] ('70-79',)
2022-07-03 03:47:33,662 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,662 INFO sqlalchemy.engine.Engine [cached since 0.03295s ago] ('70-79', 10, 74.5, '70-79')
2022-07-03 03:47:33,663 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:33,665 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,665 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,666 INFO sqlalchemy.engine.Engine [cached since 0.03805s ago] ('80+',)
2022-07-03 03:47:33,667 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,667 INFO sqlalchemy.engine.Engine [cached since 0.03747s ago] ('80+', 21, 90.0, '80+')
2022-07-03 03:47:33,668 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:47:33,670 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:47:33,670 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age, _agegroups_10y.created_on AS _agegroups_10y_created_on, _agegroups_10y.updated_on AS _agegroups_10y_updated_on, _agegroups_10y.unique_key AS _agegroups_10y_unique_key
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-03 03:47:33,670 INFO sqlalchemy.engine.Engine [cached since 0.04261s ago] ('UNK',)
2022-07-03 03:47:33,671 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age, created_on, updated_on, unique_key) VALUES (?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, ?)
2022-07-03 03:47:33,671 INFO sqlalchemy.engine.Engine [cached since 0.04202s ago] ('UNK', 0, 0.0, 'UNK')
2022-07-03 03:47:33,672 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
def get_agegroups_05y(session: sessionmaker):
    """Get a list of agegroup objects with a 05-year interval"""
    return session.query(Agegroups_05y).order_by(Agegroups_05y.agegroup).all()

def get_agegroups_10y(session: sessionmaker):
    """Get a list of agegroup objects with a 10-year interval"""
    return session.query(Agegroups_10y).order_by(Agegroups_10y.agegroup).all()

# Calendar

In [17]:
engine = create_engine('sqlite:///corona_analysis.db', echo=True)
meta_data = MetaData(bind=engine)
Base = declarative_base()

In [18]:
class CalendarYears(Base):
    __tablename__ = "_calendar_years"

    calendar_years_id = Column(Integer, primary_key=True)
    iso_year = Column(Integer, nullable=False, unique=True)
    # meta cols
    created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
    updated_on = Column(DateTime(timezone=True), default=func.now())
    unique_key = Column(String, nullable=False, unique=True)
    # relationships
    calendar_weeks = relationship("CalendarWeeks", backref="_calendar_years", cascade="all, delete")

In [19]:
CalendarYears.calendar_years_id.name

'calendar_years_id'

In [20]:
class CalendarWeeks(Base):
    __tablename__ = "_calendar_weeks"

    calendar_weeks_id = Column(Integer, primary_key=True)
    calendar_years_fk = Column(Integer, ForeignKey("_calendar_years.calendar_years_id", ondelete="CASCADE", onupdate="CASCADE"), nullable=False)
    iso_week = Column(Integer, nullable=False)
    iso_key = Column(Integer, nullable=False, unique=True)
    # meta cols
    created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
    updated_on = Column(DateTime(timezone=True), default=func.now())
    unique_key = Column(String, nullable=False, unique=True)
    # relationships
    calendar_years = relationship("CalendarDays", backref="_calendar_weeks", cascade="all, delete")

In [21]:
class CalendarDays(Base):
    __tablename__ = "_calendar_days"

    calendar_days_id = Column(Integer, primary_key=True)
    calendar_weeks_fk = Column(Integer, ForeignKey("_calendar_weeks.calendar_weeks_id", ondelete="CASCADE", onupdate="CASCADE"), nullable=False)
    iso_day = Column(String, nullable=False, unique=True)
    # meta cols
    created_on = Column(DateTime(timezone=True), nullable=False, default=func.now())
    updated_on = Column(DateTime(timezone=True), default=func.now())
    unique_key = Column(String, nullable=False, unique=True)

In [22]:
Base.metadata.create_all(engine)

2022-07-03 03:49:00,799 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:49:00,801 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_calendar_years")
2022-07-03 03:49:00,801 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:49:00,802 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_calendar_weeks")
2022-07-03 03:49:00,802 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:49:00,803 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_calendar_days")
2022-07-03 03:49:00,803 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:49:00,803 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_calendar_days")
2022-07-03 03:49:00,804 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:49:00,805 INFO sqlalchemy.engine.Engine
CREATE TABLE _calendar_days (
	calendar_days_id INTEGER NOT NULL,
	calendar_weeks_fk INTEGER NOT NULL,
	iso_day VARCHAR NOT NULL,
	created_on DATETIME NOT NULL,
	updated_on DATETIME,
	unique_key VARCHAR NOT NULL,
	PRIMARY KEY (calendar_days_id),
	FOREIGN KEY(calendar_weeks_fk) REFERENCES _calendar_weeks (calendar_weeks_id) ON DELETE CASCADE ON UPDATE CASCADE,
	UNIQUE (iso_day),
	UNIQUE (unique_key)
)


2022-07-03 03:49:00,805 INFO sqlalchemy.engine.Engine [no key 0.00043s] ()
2022-07-03 03:49:00,807 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
from sqlalchemy.engine.row import Row

def get_calendar_year(session: sessionmaker, calendar_year: int) -> Row:
    return (
        session.query(CalendarYears.iso_year)
        .filter(CalendarYears.iso_year == calendar_year)
    ).one_or_none()

In [37]:
def get_calendar_years(session: sessionmaker):
    """Get a list of calendar years objects"""
    return session.query(CalendarYears).order_by(CalendarYears.iso_year).all()

# Map Years with its Foreign Keys
calendar_years = get_calendar_years(session=session)
calendar_years_dict = {}
calendar_years_dict_reverse = {}
for year in calendar_years:
    calendar_years_dict[year.iso_year] = year.calendar_years_id
for year in calendar_years:
    calendar_years_dict_reverse[year.calendar_years_id] = year.iso_year
calendar_years_dict

2022-07-03 03:51:13,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:51:13,976 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year, _calendar_years.created_on AS _calendar_years_created_on, _calendar_years.updated_on AS _calendar_years_updated_on, _calendar_years.unique_key AS _calendar_years_unique_key
FROM _calendar_years ORDER BY _calendar_years.iso_year
2022-07-03 03:51:13,977 INFO sqlalchemy.engine.Engine [cached since 109.6s ago] ()

{1990: 1,
 1991: 2,
 1992: 3,
 1993: 4,
 1994: 5,
 1995: 6,
 1996: 7,
 1997: 8,
 1998: 9,
 1999: 10,
 2000: 11,
 2001: 12,
 2002: 13,
 2003: 14,
 2004: 15,
 2005: 16,
 2006: 17,
 2007: 18,
 2008: 19,
 2009: 20,
 2010: 21,
 2011: 22,
 2012: 23,
 2013: 24,
 2014: 25,
 2015: 26,
 2016: 27,
 2017: 28,
 2018: 29,
 2019: 30,
 2020: 31,
 2021: 32,
 2022: 33,
 2023: 34,
 2024: 35,
 2025: 36,
 2026: 37,
 2027: 38,
 2028: 39,
 2029: 40,
 2030: 41,
 2031: 42,
 2032: 43,
 2033: 44,
 2034: 45,
 2035: 46,
 2036: 47,
 2037: 48,
 2038: 49,
 2039: 50,
 2040: 51,
 2041: 52,
 2042: 53,
 2043: 54,
 2044: 55,
 2045: 56,
 2046: 57,
 2047: 58,
 2048: 59,
 2049: 60}

In [51]:
def get_calendar_weeks(session: sessionmaker):
    """Get a list of calendar years objects"""
    return session.query(CalendarWeeks).order_by(CalendarWeeks.iso_key).all()

# Map Weeks with its Foreign Keys
calendar_weeks = get_calendar_weeks(session=session)
calendar_weeks_dict = {}
calendar_weeks_dict_reverse = {}
for week in calendar_weeks:
    calendar_weeks_dict[week.iso_key] = week.calendar_weeks_id
calendar_weeks_dict

2022-07-03 03:59:11,129 INFO sqlalchemy.engine.Engine SELECT _calendar_weeks.calendar_weeks_id AS _calendar_weeks_calendar_weeks_id, _calendar_weeks.calendar_years_fk AS _calendar_weeks_calendar_years_fk, _calendar_weeks.iso_week AS _calendar_weeks_iso_week, _calendar_weeks.iso_key AS _calendar_weeks_iso_key, _calendar_weeks.created_on AS _calendar_weeks_created_on, _calendar_weeks.updated_on AS _calendar_weeks_updated_on, _calendar_weeks.unique_key AS _calendar_weeks_unique_key
FROM _calendar_weeks ORDER BY _calendar_weeks.iso_key
2022-07-03 03:59:11,130 INFO sqlalchemy.engine.Engine [generated in 0.00116s] ()

{199001: 1,
 199002: 2,
 199003: 3,
 199004: 4,
 199005: 5,
 199006: 6,
 199007: 7,
 199008: 8,
 199009: 9,
 199010: 10,
 199011: 11,
 199012: 12,
 199013: 13,
 199014: 14,
 199015: 15,
 199016: 16,
 199017: 17,
 199018: 18,
 199019: 19,
 199020: 20,
 199021: 21,
 199022: 22,
 199023: 23,
 199024: 24,
 199025: 25,
 199026: 26,
 199027: 27,
 199028: 28,
 199029: 29,
 199030: 30,
 199031: 31,
 199032: 32,
 199033: 33,
 199034: 34,
 199035: 35,
 199036: 36,
 199037: 37,
 199038: 38,
 199039: 39,
 199040: 40,
 199041: 41,
 199042: 42,
 199043: 43,
 199044: 44,
 199045: 45,
 199046: 46,
 199047: 47,
 199048: 48,
 199049: 49,
 199050: 50,
 199051: 51,
 199052: 52,
 199101: 53,
 199102: 54,
 199103: 55,
 199104: 56,
 199105: 57,
 199106: 58,
 199107: 59,
 199108: 60,
 199109: 61,
 199110: 62,
 199111: 63,
 199112: 64,
 199113: 65,
 199114: 66,
 199115: 67,
 199116: 68,
 199117: 69,
 199118: 70,
 199119: 71,
 199120: 72,
 199121: 73,
 199122: 74,
 199123: 75,
 199124: 76,
 199125: 77,
 199126: 78,
 199127: 79,
 199128: 80,
 199129: 81,
 199130: 82,
 199131: 83,
 199132: 84,
 199133: 85,
 199134: 86,
 199135: 87,
 199136: 88,
 199137: 89,
 199138: 90,
 199139: 91,
 199140: 92,
 199141: 93,
 199142: 94,
 199143: 95,
 199144: 96,
 199145: 97,
 199146: 98,
 199147: 99,
 199148: 100,
 199149: 101,
 199150: 102,
 199151: 103,
 199152: 104,
 199201: 105,
 199202: 106,
 199203: 107,
 199204: 108,
 199205: 109,
 199206: 110,
 199207: 111,
 199208: 112,
 199209: 113,
 199210: 114,
 199211: 115,
 199212: 116,
 199213: 117,
 199214: 118,
 199215: 119,
 199216: 120,
 199217: 121,
 199218: 122,
 199219: 123,
 199220: 124,
 199221: 125,
 199222: 126,
 199223: 127,
 199224: 128,
 199225: 129,
 199226: 130,
 199227: 131,
 199228: 132,
 199229: 133,
 199230: 134,
 199231: 135,
 199232: 136,
 199233: 137,
 199234: 138,
 199235: 139,
 199236: 140,
 199237: 141,
 199238: 142,
 199239: 143,
 199240: 144,
 199241: 145,
 199242: 146,
 199243: 147,
 199244: 148,
 199245: 149,
 199246: 150,
 199247: 151,
 199248: 152,
 199249: 153,
 199250: 154,
 199251: 155,
 199252: 156,
 199253: 157,
 199301: 158,
 199302: 159,
 199303: 160,
 199304: 161,
 199305: 162,
 199306: 163,
 199307: 164,
 199308: 165,
 199309: 166,
 199310: 167,
 199311: 168,
 199312: 169,
 199313: 170,
 199314: 171,
 199315: 172,
 199316: 173,
 199317: 174,
 199318: 175,
 199319: 176,
 199320: 177,
 199321: 178,
 199322: 179,
 199323: 180,
 199324: 181,
 199325: 182,
 199326: 183,
 199327: 184,
 199328: 185,
 199329: 186,
 199330: 187,
 199331: 188,
 199332: 189,
 199333: 190,
 199334: 191,
 199335: 192,
 199336: 193,
 199337: 194,
 199338: 195,
 199339: 196,
 199340: 197,
 199341: 198,
 199342: 199,
 199343: 200,
 199344: 201,
 199345: 202,
 199346: 203,
 199347: 204,
 199348: 205,
 199349: 206,
 199350: 207,
 199351: 208,
 199352: 209,
 199401: 210,
 199402: 211,
 199403: 212,
 199404: 213,
 199405: 214,
 199406: 215,
 199407: 216,
 199408: 217,
 199409: 218,
 199410: 219,
 199411: 220,
 199412: 221,
 199413: 222,
 199414: 223,
 199415: 224,
 199416: 225,
 199417: 226,
 199418: 227,
 199419: 228,
 199420: 229,
 199421: 230,
 199422: 231,
 199423: 232,
 199424: 233,
 199425: 234,
 199426: 235,
 199427: 236,
 199428: 237,
 199429: 238,
 199430: 239,
 199431: 240,
 199432: 241,
 199433: 242,
 199434: 243,
 199435: 244,
 199436: 245,
 199437: 246,
 199438: 247,
 199439: 248,
 199440: 249,
 199441: 250,
 199442: 251,
 199443: 252,
 199444: 253,
 199445: 254,
 199446: 255,
 199447: 256,
 199448: 257,
 199449: 258,
 199450: 259,
 199451: 260,
 199452: 261,
 199501: 262,
 199502: 263,
 199503: 264,
 199504: 265,
 199505: 266,
 199506: 267,
 199507: 268,
 199508: 269,
 199509: 270,
 199510: 271,
 199511: 272,
 199512: 273,
 199513: 274,
 199514: 275,
 199515: 276,
 199516: 277,
 199517: 278,
 199518: 279,
 199519: 280,
 199520: 281,
 199521: 282,
 199522: 283,
 199523: 284,
 199524: 285,
 199525: 286,
 199526: 287,
 199527: 288,
 199528: 289,
 199529: 290,
 199530: 291,
 199531: 292,
 199532: 293,
 199533: 294,
 199534: 295,
 199535: 296,
 199536: 297,
 199537: 298,
 199538: 299,
 199539: 300,
 199540: 301,
 199541: 302,
 199542: 303,
 199543: 304,
 199544: 305,
 199545: 306,
 199546: 307,
 199547: 308,
 199548: 309,
 199549: 310,
 199550: 311,
 199551: 312,
 199552: 313,
 199601: 314,
 199602: 315,
 199603: 316,
 199604: 317,
 199605: 318,
 199606: 319,
 199607: 320,
 199608: 321,
 199609: 322,
 199610: 323,
 199611: 324,
 199612: 325,
 199613: 326,
 199614: 327,
 199615: 328,
 199616: 329,
 199617: 330,
 199618: 331,
 199619: 332,
 199620: 333,
 199621: 334,
 199622: 335,
 199623: 336,
 199624: 337,
 199625: 338,
 199626: 339,
 199627: 340,
 199628: 341,
 199629: 342,
 199630: 343,
 199631: 344,
 199632: 345,
 199633: 346,
 199634: 347,
 199635: 348,
 199636: 349,
 199637: 350,
 199638: 351,
 199639: 352,
 199640: 353,
 199641: 354,
 199642: 355,
 199643: 356,
 199644: 357,
 199645: 358,
 199646: 359,
 199647: 360,
 199648: 361,
 199649: 362,
 199650: 363,
 199651: 364,
 199652: 365,
 199701: 366,
 199702: 367,
 199703: 368,
 199704: 369,
 199705: 370,
 199706: 371,
 199707: 372,
 199708: 373,
 199709: 374,
 199710: 375,
 199711: 376,
 199712: 377,
 199713: 378,
 199714: 379,
 199715: 380,
 199716: 381,
 199717: 382,
 199718: 383,
 199719: 384,
 199720: 385,
 199721: 386,
 199722: 387,
 199723: 388,
 199724: 389,
 199725: 390,
 199726: 391,
 199727: 392,
 199728: 393,
 199729: 394,
 199730: 395,
 199731: 396,
 199732: 397,
 199733: 398,
 199734: 399,
 199735: 400,
 199736: 401,
 199737: 402,
 199738: 403,
 199739: 404,
 199740: 405,
 199741: 406,
 199742: 407,
 199743: 408,
 199744: 409,
 199745: 410,
 199746: 411,
 199747: 412,
 199748: 413,
 199749: 414,
 199750: 415,
 199751: 416,
 199752: 417,
 199801: 418,
 199802: 419,
 199803: 420,
 199804: 421,
 199805: 422,
 199806: 423,
 199807: 424,
 199808: 425,
 199809: 426,
 199810: 427,
 199811: 428,
 199812: 429,
 199813: 430,
 199814: 431,
 199815: 432,
 199816: 433,
 199817: 434,
 199818: 435,
 199819: 436,
 199820: 437,
 199821: 438,
 199822: 439,
 199823: 440,
 199824: 441,
 199825: 442,
 199826: 443,
 199827: 444,
 199828: 445,
 199829: 446,
 199830: 447,
 199831: 448,
 199832: 449,
 199833: 450,
 199834: 451,
 199835: 452,
 199836: 453,
 199837: 454,
 199838: 455,
 199839: 456,
 199840: 457,
 199841: 458,
 199842: 459,
 199843: 460,
 199844: 461,
 199845: 462,
 199846: 463,
 199847: 464,
 199848: 465,
 199849: 466,
 199850: 467,
 199851: 468,
 199852: 469,
 199853: 470,
 199901: 471,
 199902: 472,
 199903: 473,
 199904: 474,
 199905: 475,
 199906: 476,
 199907: 477,
 199908: 478,
 199909: 479,
 199910: 480,
 199911: 481,
 199912: 482,
 199913: 483,
 199914: 484,
 199915: 485,
 199916: 486,
 199917: 487,
 199918: 488,
 199919: 489,
 199920: 490,
 199921: 491,
 199922: 492,
 199923: 493,
 199924: 494,
 199925: 495,
 199926: 496,
 199927: 497,
 199928: 498,
 199929: 499,
 199930: 500,
 199931: 501,
 199932: 502,
 199933: 503,
 199934: 504,
 199935: 505,
 199936: 506,
 199937: 507,
 199938: 508,
 199939: 509,
 199940: 510,
 199941: 511,
 199942: 512,
 199943: 513,
 199944: 514,
 199945: 515,
 199946: 516,
 199947: 517,
 199948: 518,
 199949: 519,
 199950: 520,
 199951: 521,
 199952: 522,
 200001: 523,
 200002: 524,
 200003: 525,
 200004: 526,
 200005: 527,
 200006: 528,
 200007: 529,
 200008: 530,
 200009: 531,
 200010: 532,
 200011: 533,
 200012: 534,
 200013: 535,
 200014: 536,
 200015: 537,
 200016: 538,
 200017: 539,
 200018: 540,
 200019: 541,
 200020: 542,
 200021: 543,
 200022: 544,
 200023: 545,
 200024: 546,
 200025: 547,
 200026: 548,
 200027: 549,
 200028: 550,
 200029: 551,
 200030: 552,
 200031: 553,
 200032: 554,
 200033: 555,
 200034: 556,
 200035: 557,
 200036: 558,
 200037: 559,
 200038: 560,
 200039: 561,
 200040: 562,
 200041: 563,
 200042: 564,
 200043: 565,
 200044: 566,
 200045: 567,
 200046: 568,
 200047: 569,
 200048: 570,
 200049: 571,
 200050: 572,
 200051: 573,
 200052: 574,
 200101: 575,
 200102: 576,
 200103: 577,
 200104: 578,
 200105: 579,
 200106: 580,
 200107: 581,
 200108: 582,
 200109: 583,
 200110: 584,
 200111: 585,
 200112: 586,
 200113: 587,
 200114: 588,
 200115: 589,
 200116: 590,
 200117: 591,
 200118: 592,
 200119: 593,
 200120: 594,
 200121: 595,
 200122: 596,
 200123: 597,
 200124: 598,
 200125: 599,
 200126: 600,
 200127: 601,
 200128: 602,
 200129: 603,
 200130: 604,
 200131: 605,
 200132: 606,
 200133: 607,
 200134: 608,
 200135: 609,
 200136: 610,
 200137: 611,
 200138: 612,
 200139: 613,
 200140: 614,
 200141: 615,
 200142: 616,
 200143: 617,
 200144: 618,
 200145: 619,
 200146: 620,
 200147: 621,
 200148: 622,
 200149: 623,
 200150: 624,
 200151: 625,
 200152: 626,
 200201: 627,
 200202: 628,
 200203: 629,
 200204: 630,
 200205: 631,
 200206: 632,
 200207: 633,
 200208: 634,
 200209: 635,
 200210: 636,
 200211: 637,
 200212: 638,
 200213: 639,
 200214: 640,
 200215: 641,
 200216: 642,
 200217: 643,
 200218: 644,
 200219: 645,
 200220: 646,
 200221: 647,
 200222: 648,
 200223: 649,
 200224: 650,
 200225: 651,
 200226: 652,
 200227: 653,
 200228: 654,
 200229: 655,
 200230: 656,
 200231: 657,
 200232: 658,
 200233: 659,
 200234: 660,
 200235: 661,
 200236: 662,
 200237: 663,
 200238: 664,
 200239: 665,
 200240: 666,
 200241: 667,
 200242: 668,
 200243: 669,
 200244: 670,
 200245: 671,
 200246: 672,
 200247: 673,
 200248: 674,
 200249: 675,
 200250: 676,
 200251: 677,
 200252: 678,
 200301: 679,
 200302: 680,
 200303: 681,
 200304: 682,
 200305: 683,
 200306: 684,
 200307: 685,
 200308: 686,
 200309: 687,
 200310: 688,
 200311: 689,
 200312: 690,
 200313: 691,
 200314: 692,
 200315: 693,
 200316: 694,
 200317: 695,
 200318: 696,
 200319: 697,
 200320: 698,
 200321: 699,
 200322: 700,
 200323: 701,
 200324: 702,
 200325: 703,
 200326: 704,
 200327: 705,
 200328: 706,
 200329: 707,
 200330: 708,
 200331: 709,
 200332: 710,
 200333: 711,
 200334: 712,
 200335: 713,
 200336: 714,
 200337: 715,
 200338: 716,
 200339: 717,
 200340: 718,
 200341: 719,
 200342: 720,
 200343: 721,
 200344: 722,
 200345: 723,
 200346: 724,
 200347: 725,
 200348: 726,
 200349: 727,
 200350: 728,
 200351: 729,
 200352: 730,
 200401: 731,
 200402: 732,
 200403: 733,
 200404: 734,
 200405: 735,
 200406: 736,
 200407: 737,
 200408: 738,
 200409: 739,
 200410: 740,
 200411: 741,
 200412: 742,
 200413: 743,
 200414: 744,
 200415: 745,
 200416: 746,
 200417: 747,
 200418: 748,
 200419: 749,
 200420: 750,
 200421: 751,
 200422: 752,
 200423: 753,
 200424: 754,
 200425: 755,
 200426: 756,
 200427: 757,
 200428: 758,
 200429: 759,
 200430: 760,
 200431: 761,
 200432: 762,
 200433: 763,
 200434: 764,
 200435: 765,
 200436: 766,
 200437: 767,
 200438: 768,
 200439: 769,
 200440: 770,
 200441: 771,
 200442: 772,
 200443: 773,
 200444: 774,
 200445: 775,
 200446: 776,
 200447: 777,
 200448: 778,
 200449: 779,
 200450: 780,
 200451: 781,
 200452: 782,
 200453: 783,
 200501: 784,
 200502: 785,
 200503: 786,
 200504: 787,
 200505: 788,
 200506: 789,
 200507: 790,
 200508: 791,
 200509: 792,
 200510: 793,
 200511: 794,
 200512: 795,
 200513: 796,
 200514: 797,
 200515: 798,
 200516: 799,
 200517: 800,
 200518: 801,
 200519: 802,
 200520: 803,
 200521: 804,
 200522: 805,
 200523: 806,
 200524: 807,
 200525: 808,
 200526: 809,
 200527: 810,
 200528: 811,
 200529: 812,
 200530: 813,
 200531: 814,
 200532: 815,
 200533: 816,
 200534: 817,
 200535: 818,
 200536: 819,
 200537: 820,
 200538: 821,
 200539: 822,
 200540: 823,
 200541: 824,
 200542: 825,
 200543: 826,
 200544: 827,
 200545: 828,
 200546: 829,
 200547: 830,
 200548: 831,
 200549: 832,
 200550: 833,
 200551: 834,
 200552: 835,
 200601: 836,
 200602: 837,
 200603: 838,
 200604: 839,
 200605: 840,
 200606: 841,
 200607: 842,
 200608: 843,
 200609: 844,
 200610: 845,
 200611: 846,
 200612: 847,
 200613: 848,
 200614: 849,
 200615: 850,
 200616: 851,
 200617: 852,
 200618: 853,
 200619: 854,
 200620: 855,
 200621: 856,
 200622: 857,
 200623: 858,
 200624: 859,
 200625: 860,
 200626: 861,
 200627: 862,
 200628: 863,
 200629: 864,
 200630: 865,
 200631: 866,
 200632: 867,
 200633: 868,
 200634: 869,
 200635: 870,
 200636: 871,
 200637: 872,
 200638: 873,
 200639: 874,
 200640: 875,
 200641: 876,
 200642: 877,
 200643: 878,
 200644: 879,
 200645: 880,
 200646: 881,
 200647: 882,
 200648: 883,
 200649: 884,
 200650: 885,
 200651: 886,
 200652: 887,
 200701: 888,
 200702: 889,
 200703: 890,
 200704: 891,
 200705: 892,
 200706: 893,
 200707: 894,
 200708: 895,
 200709: 896,
 200710: 897,
 200711: 898,
 200712: 899,
 200713: 900,
 200714: 901,
 200715: 902,
 200716: 903,
 200717: 904,
 200718: 905,
 200719: 906,
 200720: 907,
 200721: 908,
 200722: 909,
 200723: 910,
 200724: 911,
 200725: 912,
 200726: 913,
 200727: 914,
 200728: 915,
 200729: 916,
 200730: 917,
 200731: 918,
 200732: 919,
 200733: 920,
 200734: 921,
 200735: 922,
 200736: 923,
 200737: 924,
 200738: 925,
 200739: 926,
 200740: 927,
 200741: 928,
 200742: 929,
 200743: 930,
 200744: 931,
 200745: 932,
 200746: 933,
 200747: 934,
 200748: 935,
 200749: 936,
 200750: 937,
 200751: 938,
 200752: 939,
 200801: 940,
 200802: 941,
 200803: 942,
 200804: 943,
 200805: 944,
 200806: 945,
 200807: 946,
 200808: 947,
 200809: 948,
 200810: 949,
 200811: 950,
 200812: 951,
 200813: 952,
 200814: 953,
 200815: 954,
 200816: 955,
 200817: 956,
 200818: 957,
 200819: 958,
 200820: 959,
 200821: 960,
 200822: 961,
 200823: 962,
 200824: 963,
 200825: 964,
 200826: 965,
 200827: 966,
 200828: 967,
 200829: 968,
 200830: 969,
 200831: 970,
 200832: 971,
 200833: 972,
 200834: 973,
 200835: 974,
 200836: 975,
 200837: 976,
 200838: 977,
 200839: 978,
 200840: 979,
 200841: 980,
 200842: 981,
 200843: 982,
 200844: 983,
 200845: 984,
 200846: 985,
 200847: 986,
 200848: 987,
 200849: 988,
 200850: 989,
 200851: 990,
 200852: 991,
 200901: 992,
 200902: 993,
 200903: 994,
 200904: 995,
 200905: 996,
 200906: 997,
 200907: 998,
 200908: 999,
 200909: 1000,
 ...}

In [38]:
def add_new_calendar_year(session: sessionmaker, calendar_year: int) -> None:
    """
    Adds a new calendar year
    """
    
    # check if calendar year already exist
    year_exists = get_calendar_year(session=session, calendar_year=calendar_year)
    if year_exists is not None:
        return
   
    # create new entry
    new_calendar_year = CalendarYears(
        iso_year=calendar_year,
        unique_key=str(calendar_year)
    )
    
    # write to DB
    session.add(new_calendar_year)
    session.commit()

In [39]:
for year in range(1990, 2050):
    add_new_calendar_year(session=session, calendar_year=year)

2022-07-03 03:51:22,984 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,984 INFO sqlalchemy.engine.Engine [cached since 88.44s ago] (1990,)
2022-07-03 03:51:22,985 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,986 INFO sqlalchemy.engine.Engine [cached since 88.44s ago] (1991,)
2022-07-03 03:51:22,986 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,987 INFO sqlalchemy.engine.Engine [cached since 88.44s ago] (1992,)
2022-07-03 03:51:22,987 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,988 INFO sqlalchemy.engine.Engine [cached since 88.44s ago] (1993,)
2022-07-03 03:51:22,988 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,989 INFO sqlalchemy.engine.Engine [cached since 88.44s ago] (1994,)
2022-07-03 03:51:22,989 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,989 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (1995,)
2022-07-03 03:51:22,990 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,990 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (1996,)
2022-07-03 03:51:22,991 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,991 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (1997,)
2022-07-03 03:51:22,993 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,993 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (1998,)
2022-07-03 03:51:22,994 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,994 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (1999,)
2022-07-03 03:51:22,995 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,995 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (2000,)
2022-07-03 03:51:22,996 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,996 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (2001,)
2022-07-03 03:51:22,997 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,997 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (2002,)
2022-07-03 03:51:22,997 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,998 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (2003,)
2022-07-03 03:51:22,999 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:22,999 INFO sqlalchemy.engine.Engine [cached since 88.45s ago] (2004,)
2022-07-03 03:51:23,000 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,000 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2005,)
2022-07-03 03:51:23,000 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,001 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2006,)
2022-07-03 03:51:23,001 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,002 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2007,)
2022-07-03 03:51:23,002 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,003 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2008,)
2022-07-03 03:51:23,003 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,004 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2009,)
2022-07-03 03:51:23,005 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,005 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2010,)
2022-07-03 03:51:23,006 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,006 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2011,)
2022-07-03 03:51:23,007 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,007 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2012,)
2022-07-03 03:51:23,008 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,008 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2013,)
2022-07-03 03:51:23,009 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,009 INFO sqlalchemy.engine.Engine [cached since 88.46s ago] (2014,)
2022-07-03 03:51:23,010 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,010 INFO sqlalchemy.engine.Engine [cached since 88.47s ago] (2015,)
2022-07-03 03:51:23,011 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,011 INFO sqlalchemy.engine.Engine [cached since 88.47s ago] (2016,)
2022-07-03 03:51:23,012 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,012 INFO sqlalchemy.engine.Engine [cached since 88.47s ago] (2017,)
2022-07-03 03:51:23,013 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,014 INFO sqlalchemy.engine.Engine [cached since 88.47s ago] (2018,)
2022-07-03 03:51:23,014 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,014 INFO sqlalchemy.engine.Engine [cached since 88.47s ago] (2019,)
2022-07-03 03:51:23,015 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,015 INFO sqlalchemy.engine.Engine [cached since 88.47s ago] (2020,)
2022-07-03 03:51:23,016 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,017 INFO sqlalchemy.engine.Engine [cached since 88.47s ago] (2021,)
2022-07-03 03:51:23,017 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,018 INFO sqlalchemy.engine.Engine [cached since 88.47s ago] (2022,)
2022-07-03 03:51:23,018 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,018 INFO sqlalchemy.engine.Engine [cached since 88.47s ago] (2023,)
2022-07-03 03:51:23,019 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,019 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2024,)
2022-07-03 03:51:23,020 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,020 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2025,)
2022-07-03 03:51:23,021 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,021 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2026,)
2022-07-03 03:51:23,022 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,022 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2027,)
2022-07-03 03:51:23,023 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,023 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2028,)
2022-07-03 03:51:23,024 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,024 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2029,)
2022-07-03 03:51:23,025 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,025 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2030,)
2022-07-03 03:51:23,026 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,026 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2031,)
2022-07-03 03:51:23,027 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,027 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2032,)
2022-07-03 03:51:23,028 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,028 INFO sqlalchemy.engine.Engine [cached since 88.48s ago] (2033,)
2022-07-03 03:51:23,029 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,029 INFO sqlalchemy.engine.Engine [cached since 88.49s ago] (2034,)
2022-07-03 03:51:23,030 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,030 INFO sqlalchemy.engine.Engine [cached since 88.49s ago] (2035,)
2022-07-03 03:51:23,031 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,031 INFO sqlalchemy.engine.Engine [cached since 88.49s ago] (2036,)
2022-07-03 03:51:23,032 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,033 INFO sqlalchemy.engine.Engine [cached since 88.49s ago] (2037,)
2022-07-03 03:51:23,033 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,034 INFO sqlalchemy.engine.Engine [cached since 88.49s ago] (2038,)
2022-07-03 03:51:23,034 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,035 INFO sqlalchemy.engine.Engine [cached since 88.49s ago] (2039,)
2022-07-03 03:51:23,036 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,036 INFO sqlalchemy.engine.Engine [cached since 88.49s ago] (2040,)
2022-07-03 03:51:23,037 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,038 INFO sqlalchemy.engine.Engine [cached since 88.49s ago] (2041,)
2022-07-03 03:51:23,039 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,039 INFO sqlalchemy.engine.Engine [cached since 88.49s ago] (2042,)
2022-07-03 03:51:23,040 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,040 INFO sqlalchemy.engine.Engine [cached since 88.5s ago] (2043,)
2022-07-03 03:51:23,041 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,042 INFO sqlalchemy.engine.Engine [cached since 88.5s ago] (2044,)
2022-07-03 03:51:23,042 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,043 INFO sqlalchemy.engine.Engine [cached since 88.5s ago] (2045,)
2022-07-03 03:51:23,043 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,044 INFO sqlalchemy.engine.Engine [cached since 88.5s ago] (2046,)
2022-07-03 03:51:23,044 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,044 INFO sqlalchemy.engine.Engine [cached since 88.5s ago] (2047,)
2022-07-03 03:51:23,045 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,045 INFO sqlalchemy.engine.Engine [cached since 88.5s ago] (2048,)
2022-07-03 03:51:23,046 INFO sqlalchemy.engine.Engine SELECT _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-03 03:51:23,046 INFO sqlalchemy.engine.Engine [cached since 88.5s ago] (2049,)

## ISO

In [40]:
import isoweek

calendar_weeks_dict = {}

for year, calendar_years_fk in calendar_years_dict.items():
    weeks_list = []
    weeks = isoweek.Week.last_week_of_year(year).week
    for week in range(1, weeks+1):
        weeks_list.append(week)
    calendar_weeks_dict[calendar_years_fk] = weeks_list

calendar_weeks_dict

{1: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 2: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 3: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 4: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 5: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 6: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 7: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 8: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 9: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 10: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 11: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 12: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 13: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 14: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 15: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 16: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 17: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 18: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 19: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 20: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 21: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 22: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 23: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 24: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 25: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 26: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 27: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 28: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 29: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 30: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 31: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 32: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 33: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 34: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 35: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 36: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 37: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 38: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 39: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 40: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 41: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 42: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 43: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 44: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 45: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 46: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 47: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 48: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 49: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 50: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 51: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 52: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 53: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 54: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 55: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 56: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 57: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 58: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52],
 59: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 60: [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52]}

In [105]:
isoweek.Week.last_week_of_year(1993).week

52

In [187]:
from calendar import Calendar
import pandas as pd
from datetime import date

daterange = pd.date_range(date(1990,1,1), date(2050,12,31))
l = {}
for single_date in  daterange:
    l[single_date.strftime("%G-%m-%d")] = single_date.strftime("%V")

df_date = pd.DataFrame.from_dict(l, orient="index").reset_index(level=0)
df_date.columns = ["iso_day", "iso_week"]
df_date.index += 1
df_date["iso_day"] = pd.to_datetime(df_date["iso_day"])
df_date["iso_year"] = pd.to_datetime(df_date["iso_day"]).dt.year
df_date["iso_key"] = df_date["iso_year"].astype(str) + df_date["iso_week"]
df_date

         iso_day iso_week  iso_year iso_key
1     1990-01-01       01      1990  199001
2     1990-01-02       01      1990  199001
3     1990-01-03       01      1990  199001
4     1990-01-04       01      1990  199001
5     1990-01-05       01      1990  199001
...          ...      ...       ...     ...
22215 2050-12-27       52      2050  205052
22216 2050-12-28       52      2050  205052
22217 2050-12-29       52      2050  205052
22218 2050-12-30       52      2050  205052
22219 2050-12-31       52      2050  205052

[22219 rows x 4 columns]

In [201]:
df_years = pd.DataFrame(df_date["iso_year"].unique(), columns=["iso_year"])
df_years.index += 1
df_years

    iso_year
1       1990
2       1991
3       1992
4       1993
5       1994
..       ...
57      2046
58      2047
59      2048
60      2049
61      2050

[61 rows x 1 columns]

In [264]:
#calendar_years_fk = df_years.T.to_dict('records')
#calendar_years_fk_dict, *_ = calendar_years_fk # unpack
#calendar_years_fk_dict
tmp = df_years.copy()
tmp.reset_index(level=0, inplace=True)
calendar_years_fk = tmp.set_index("iso_year").T.to_dict('records')
calendar_years_fk_dict, *_ = calendar_years_fk # unpack
calendar_years_fk_dict

{1990: 1,
 1991: 2,
 1992: 3,
 1993: 4,
 1994: 5,
 1995: 6,
 1996: 7,
 1997: 8,
 1998: 9,
 1999: 10,
 2000: 11,
 2001: 12,
 2002: 13,
 2003: 14,
 2004: 15,
 2005: 16,
 2006: 17,
 2007: 18,
 2008: 19,
 2009: 20,
 2010: 21,
 2011: 22,
 2012: 23,
 2013: 24,
 2014: 25,
 2015: 26,
 2016: 27,
 2017: 28,
 2018: 29,
 2019: 30,
 2020: 31,
 2021: 32,
 2022: 33,
 2023: 34,
 2024: 35,
 2025: 36,
 2026: 37,
 2027: 38,
 2028: 39,
 2029: 40,
 2030: 41,
 2031: 42,
 2032: 43,
 2033: 44,
 2034: 45,
 2035: 46,
 2036: 47,
 2037: 48,
 2038: 49,
 2039: 50,
 2040: 51,
 2041: 52,
 2042: 53,
 2043: 54,
 2044: 55,
 2045: 56,
 2046: 57,
 2047: 58,
 2048: 59,
 2049: 60,
 2050: 61}

In [265]:
#df_weeks = df_date.groupby(["iso_key", "iso_week", "year"], as_index=False).sum()
df_weeks = df_date.groupby(['iso_key'], as_index=False).agg({'iso_day': 'first', 'iso_week': 'first', 'iso_year': 'first'})
df_weeks.drop("iso_day", axis=1, inplace=True)
df_weeks["iso_week"] = df_weeks["iso_week"].astype(int)
df_weeks["iso_year"] = df_weeks["iso_year"].astype(int)
#df_weeks["calendar_years_fk"] = df_weeks["iso_year"].map(df_years.to_dict())
df_weeks.index += 1
#d = {df_years.loc[index, 'iso_year']:index for index in df_years.index}
df_weeks["calendar_years_fk"] = df_weeks["iso_year"].astype(int).map(calendar_years_fk_dict)
df_weeks

     iso_key  iso_week  iso_year  calendar_years_fk
1     199001         1      1990                  1
2     199002         2      1990                  1
3     199003         3      1990                  1
4     199004         4      1990                  1
5     199005         5      1990                  1
...      ...       ...       ...                ...
3179  205048        48      2050                 61
3180  205049        49      2050                 61
3181  205050        50      2050                 61
3182  205051        51      2050                 61
3183  205052        52      2050                 61

[3183 rows x 4 columns]

In [41]:
import pandas as pd
import numpy as np
# create dataframe
df = pd.DataFrame.from_dict(calendar_weeks_dict, orient="index")
df = df.T.unstack().to_frame().dropna().reset_index(level=0).applymap(np.int64)
df.columns = ["calendar_years_fk", "iso_week"]
df

    calendar_years_fk  iso_week
0                   1         1
1                   1         2
2                   1         3
3                   1         4
4                   1         5
..                ...       ...
47                 60        48
48                 60        49
49                 60        50
50                 60        51
51                 60        52

[3131 rows x 2 columns]

In [45]:
df["iso_key"] = df["calendar_years_fk"].map(calendar_years_dict_reverse).astype(str) + df["iso_week"].astype(str).str.zfill(2)
df["unique_key"] = df["iso_key"]
from datetime import datetime as dt
df["created_on"] = dt.now()
df["updated_on"] = dt.now()
df

,calendar_years_fk,iso_week,iso_key,unique_key,created_on,updated_on
0,1,1,199001,199001,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563
1,1,2,199002,199002,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563
2,1,3,199003,199003,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563
3,1,4,199004,199004,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563
4,1,5,199005,199005,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563
...,...,...,...,...,...,...
47,60,48,204948,204948,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563
48,60,49,204949,204949,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563
49,60,50,204950,204950,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563
50,60,51,204951,204951,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563
51,60,52,204952,204952,2022-07-03 03:52:40.078135,2022-07-03 03:52:40.078563

In [157]:
def add_new_calendar_weeks(session: sessionmaker, calendar_year: int) -> None:
    """
    Adds calendar weeks for a given year by ISO standard
    """
    
    # check if calendar year already exist
    new_calendar_week = (
        session.query(CalendarWeeks)
        .filter(CalendarWeeks.iso_key == iso_key)
    ).one_or_none()

    if new_calendar_week is not None:
        return
    
    # create new agegroup
    new_calendar_week = CalendarWeeks(
        calendar_years_fk=calendar_years_fk,
        iso_week=iso_week,
        iso_key=iso_key,
        unique_key=iso_key
    )
    
    # write to DB
    session.add(new_calendar_week)
    session.commit()

In [46]:
from sqlalchemy.exc import NoSuchTableError
from sqlalchemy import Table

def checkIfTableExist(table_name: str):
    metadata = MetaData(engine)
    try:
        table = Table(table_name, metadata, autoload=True)
        return True
    except NoSuchTableError:
        return False
l = checkIfTableExist("_calendar_years")
print(l)

def getTableByName(table_name: str):
    metadata = MetaData(engine)
    try:
        table = Table(table_name, metadata, autoload=True)
        return table
    except NoSuchTableError:
        return None
l = getTableByName("_calendar_years")
print(l)

2022-07-03 03:52:45,881 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("_calendar_years")
2022-07-03 03:52:45,882 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,883 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:45,884 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-03 03:52:45,884 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("_calendar_years")
2022-07-03 03:52:45,885 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,885 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("_calendar_years")
2022-07-03 03:52:45,885 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,886 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:45,886 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-03 03:52:45,887 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-03 03:52:45,887 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,888 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-03 03:52:45,888 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,889 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_2")
2022-07-03 03:52:45,893 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,894 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_1")
2022-07-03 03:52:45,894 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,895 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:45,895 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
True
2022-07-03 03:52:45,897 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("_calendar_years")
2022-07-03 03:52:45,898 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,898 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:45,899 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-03 03:52:45,899 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("_calendar_years")
2022-07-03 03:52:45,900 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,900 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("_calendar_years")
2022-07-03 03:52:45,901 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,901 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:45,901 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-03 03:52:45,903 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-03 03:52:45,903 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,904 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-03 03:52:45,904 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,905 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_2")
2022-07-03 03:52:45,905 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,906 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_1")
2022-07-03 03:52:45,906 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:45,907 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:45,907 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
_calendar_years

In [47]:
import uuid
import sqlalchemy

# Credit to https://stackoverflow.com/questions/61366664/how-to-upsert-pandas-dataframe-to-postgresql-table
def upsert_df(df: pd.DataFrame, table_name: str, engine: sqlalchemy.engine.Engine) -> bool:

    # df must contain a unique_key column
    if "unique_key" not in df.columns:
        raise RuntimeError("DataFrame must contain a 'unique_key' column")

    # check if table exist. If not, create it using to_sql
    table_exist = checkIfTableExist(table_name=table_name)
    if not table_exist:
        df.to_sql(table_name, engine)
        return True

    # table exist, so use UPSERT logic...
    
    # 1. create temporary table with unique id
    tmp_table = f"tmp_{uuid.uuid4().hex[:6]}"
    df.to_sql(tmp_table, engine, index=True)

    # 2. 
    columns = list(df.columns)
    columns_str = ", ".join(col for col in columns)

    # The "excluded." prefix causes the column to refer to the value that 
    # would have been inserted if there been no conflict.
    update_columns_str = ", ".join(
        f'{col} = excluded.{col}' for col in columns
    )

    # 3.
    """ example:
    INSERT INTO _calendar_years(iso_year)
    VALUES(2050)
    ON CONFLICT(iso_year) DO UPDATE SET
    iso_year=excluded.iso_year;
    """
    query_upsert = f"""
        INSERT INTO {table_name}({columns_str})
        SELECT {columns_str} FROM {tmp_table} WHERE true
        ON CONFLICT(unique_key) DO UPDATE SET
        {update_columns_str};
    """

    # 4. execute upsert query & drop temporary table
    engine.execute(query_upsert)
    engine.execute(f"DROP TABLE {tmp_table}")

    return True

upsert_df(df, "_calendar_weeks", engine)

2022-07-03 03:52:46,467 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("_calendar_weeks")
2022-07-03 03:52:46,467 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,468 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:46,469 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_weeks',)
2022-07-03 03:52:46,470 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("_calendar_weeks")
2022-07-03 03:52:46,470 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,471 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:46,471 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_weeks',)
2022-07-03 03:52:46,472 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("_calendar_years")
2022-07-03 03:52:46,472 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,473 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:46,473 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-03 03:52:46,474 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("_calendar_years")
2022-07-03 03:52:46,474 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,475 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("_calendar_years")
2022-07-03 03:52:46,475 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,476 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:46,476 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-03 03:52:46,476 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-03 03:52:46,477 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,477 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_years")
2022-07-03 03:52:46,477 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,478 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_2")
2022-07-03 03:52:46,479 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,479 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_years_1")
2022-07-03 03:52:46,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,480 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:46,480 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_years',)
2022-07-03 03:52:46,481 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_weeks")
2022-07-03 03:52:46,482 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,482 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("_calendar_weeks")
2022-07-03 03:52:46,482 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,483 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_weeks_2")
2022-07-03 03:52:46,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,484 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex__calendar_weeks_1")
2022-07-03 03:52:46,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,485 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-03 03:52:46,485 INFO sqlalchemy.engine.Engine [raw sql] ('_calendar_weeks',)
2022-07-03 03:52:46,488 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("tmp_2894da")
2022-07-03 03:52:46,489 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,490 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("tmp_2894da")
2022-07-03 03:52:46,490 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,491 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:52:46,492 INFO sqlalchemy.engine.Engine
CREATE TABLE tmp_2894da (
	"index" BIGINT,
	calendar_years_fk BIGINT,
	iso_week BIGINT,
	iso_key TEXT,
	unique_key TEXT,
	created_on DATETIME,
	updated_on DATETIME
)


2022-07-03 03:52:46,493 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
2022-07-03 03:52:46,495 INFO sqlalchemy.engine.Engine CREATE INDEX ix_tmp_2894da_index ON tmp_2894da ("index")
2022-07-03 03:52:46,495 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
2022-07-03 03:52:46,497 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:52:46,501 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-03 03:52:46,518 INFO sqlalchemy.engine.Engine INSERT INTO tmp_2894da ("index", calendar_years_fk, iso_week, iso_key, unique_key, created_on, updated_on) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-07-03 03:52:46,519 INFO sqlalchemy.engine.Engine [generated in 0.01528s] ((0, 1, 1, '199001', '199001', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563'), (1, 1, 2, '199002', '199002', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563'), (2, 1, 3, '199003', '199003', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563'), (3, 1, 4, '199004', '199004', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563'), (4, 1, 5, '199005', '199005', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563'), (5, 1, 6, '199006', '199006', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563'), (6, 1, 7, '199007', '199007', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563'), (7, 1, 8, '199008', '199008', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563')  ... displaying 10 of 3131 total bound parameter sets ...  (50, 60, 51, '204951', '204951', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563'), (51, 60, 52, '204952', '204952', '2022-07-03 03:52:40.078135', '2022-07-03 03:52:40.078563'))
2022-07-03 03:52:46,523 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:52:46,526 INFO sqlalchemy.engine.Engine
        INSERT INTO _calendar_weeks(calendar_years_fk, iso_week, iso_key, unique_key, created_on, updated_on)
        SELECT calendar_years_fk, iso_week, iso_key, unique_key, created_on, updated_on FROM tmp_2894da WHERE true
        ON CONFLICT(unique_key) DO UPDATE SET
        calendar_years_fk = excluded.calendar_years_fk, iso_week = excluded.iso_week, iso_key = excluded.iso_key, unique_key = excluded.unique_key, created_on = excluded.created_on, updated_on = excluded.updated_on;

2022-07-03 03:52:46,526 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,528 INFO sqlalchemy.engine.Engine COMMIT
2022-07-03 03:52:46,531 INFO sqlalchemy.engine.Engine DROP TABLE tmp_2894da
2022-07-03 03:52:46,531 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-03 03:52:46,534 INFO sqlalchemy.engine.Engine COMMIT

True

In [308]:
daterange = pd.date_range(date(1990,1,1), date(2050,12,31))
#len(daterange.to_list())
d = daterange.to_list()

t = dict()
for i in d:
    iso = i.strftime("%Y-%m-%d")
    week = i.strftime("%V")
    t[iso] = week
print(len(t))
dff = pd.DataFrame.from_dict(t, orient="index").reset_index(level=0)
dff.columns = ["iso_day", "iso_week"]
dff.index += 1
dff["iso_day"] = pd.to_datetime(dff["iso_day"])
dff["iso_year"] = pd.to_datetime(dff["iso_day"]).dt.year
dff["iso_key"] = dff["iso_year"].astype(str) + dff["iso_week"]
dff.to_csv("test3.csv", sep=";")
#from collections import Counter
#a = dict(Counter(t))
#len(a)

22280

In [289]:
d = dict()
l = daterange.to_list()
for single_date in l:
    iso_year = single_date.strftime("%G-%m-%d")
    iso_week = single_date.strftime("%V")
    d[iso_year] = iso_week
len(d)

TypeError: 'set' object does not support item assignment

In [2]:
import pandas as pd
from datetime import datetime, date

In [7]:
daterange = pd.date_range(date(1990, 1, 1), date(2050, 12, 31))
regular_days = list()
iso_weeks = list()
iso_years = list()
for s in daterange:
    regular_days.append(s.strftime("%Y-%m-%d"))
    iso_weeks.append(s.strftime("%V"))
    iso_years.append(s.strftime("%G"))
pd.DataFrame(regular_days).to_csv("regular_days.csv", sep=";")
pd.DataFrame(iso_weeks).to_csv("iso_weeks.csv", sep=";")
pd.DataFrame(iso_years).to_csv("iso_years.csv", sep=";")

In [9]:
import isoweek

isoweek.Week.last_week_of_year(1993)

isoweek.Week(1993, 52)

In [52]:
import pandas as pd
from datetime import datetime, date

daterange = pd.date_range(date(1990, 1, 1), date(2050, 12, 31))
iso = dict()

for s in daterange:
    l = list()
    iso_day = s.strftime("%Y-%m-%d")
    iso_year = s.isocalendar().year
    iso_week = s.isocalendar().week

    l.append(iso_year)
    l.append(iso_week)

    iso[iso_day] = l

# day df
df_day = pd.DataFrame.from_dict(iso, orient="index").reset_index(level=0)
df_day.columns = ["iso_day", "iso_year", "iso_week"]
df_day["iso_week"] = df_day["iso_week"].astype(str).str.zfill(2)
df_day["iso_key"] = df_day["iso_year"].astype(str) + df_day["iso_week"].astype(str)
df_day.index += 1

# week df
df_week = df_day.groupby(
    ["iso_key"], as_index=False
    ).agg({"iso_day": "first", "iso_year": "first", "iso_week": "first"}).copy()
df_week.drop("iso_day", axis=1, inplace=True)
df_week.index += 1

# year df
df_year = df_week.groupby(
    ["iso_year"], as_index=False
    ).agg({"iso_key": "first", "iso_week": "first"}).copy()
df_year.drop(["iso_key", "iso_week"], axis=1, inplace=True)
df_year.index = df_year.index.set_names(["ID"])
df_year.index += 1
df_year = df_year.reset_index().rename(columns={df_year.index.name: "calendar_years_id"})


# merge FK week
df_week = df_week.merge(df_year, how="left", left_on="iso_year", right_on="iso_year")
df_week.index = df_week.index.set_names(["ID"])
df_week.index += 1
df_week = df_week.reset_index().rename(columns={df_week.index.name: "calendar_weeks_id"})
df_week.rename(columns={"calendar_years_id": "calendar_years_fk"}, inplace=True)
df_week.drop("iso_year", axis=1, inplace=True)
df_week["iso_week"] = df_week["iso_week"].astype(int)
df_week

# merge FK day
df_day = df_day.merge(df_week, how="left", left_on="iso_key", right_on="iso_key", suffixes=('', '_y'))
df_day.drop(df_day.filter(regex="_y$").columns, axis=1, inplace=True)
df_day.drop(["iso_year", "iso_week", "iso_key", "calendar_years_fk"], axis=1, inplace=True)
df_day.rename(columns={"calendar_weeks_id": "calendar_weeks_fk"}, inplace=True)

In [53]:
df_year

    calendar_years_id  iso_year
0                   1      1990
1                   2      1991
2                   3      1992
3                   4      1993
4                   5      1994
..                ...       ...
56                 57      2046
57                 58      2047
58                 59      2048
59                 60      2049
60                 61      2050

[61 rows x 2 columns]

In [54]:
df_week

      calendar_weeks_id iso_key  iso_week  calendar_years_fk
0                     1  199001         1                  1
1                     2  199002         2                  1
2                     3  199003         3                  1
3                     4  199004         4                  1
4                     5  199005         5                  1
...                 ...     ...       ...                ...
3178               3179  205048        48                 61
3179               3180  205049        49                 61
3180               3181  205050        50                 61
3181               3182  205051        51                 61
3182               3183  205052        52                 61

[3183 rows x 4 columns]

In [55]:
df_day

          iso_day  calendar_weeks_fk
0      1990-01-01                  1
1      1990-01-02                  1
2      1990-01-03                  1
3      1990-01-04                  1
4      1990-01-05                  1
...           ...                ...
22275  2050-12-27               3183
22276  2050-12-28               3183
22277  2050-12-29               3183
22278  2050-12-30               3183
22279  2050-12-31               3183

[22280 rows x 2 columns]

In [1]:
import pandas as pd

In [2]:
agegroups_10y = { # agegroup, [number_observations, avg_age]
        "00-09": [10, 4.5],
        "10-19": [10, 14.5],
        "20-29": [10, 24.5],
        "30-39": [10, 34.5],
        "40-49": [10, 44.5],
        "50-59": [10, 54.5],
        "60-69": [10, 64.5],
        "70-79": [10, 74.5],
        "80+": [21, 90],
        "UNK": [0, 0],
}

In [11]:
df = pd.DataFrame.from_dict(agegroups_10y, orient="index", columns=["number_observations", "avg_age"]).reset_index(level=0).rename({"index": "agegroup"}, axis=1)
df

  agegroup  number_observations  avg_age
0    00-09                   10      4.5
1    10-19                   10     14.5
2    20-29                   10     24.5
3    30-39                   10     34.5
4    40-49                   10     44.5
5    50-59                   10     54.5
6    60-69                   10     64.5
7    70-79                   10     74.5
8      80+                   21     90.0
9      UNK                    0      0.0

In [31]:
import pandas as pd

df = pd.read_csv("countries.csv", encoding="utf8", na_filter = False).drop(["countries_id", "last_update", "unique_key"], axis=1)

df.head()

,country_en,country_de,latitude,longitude,iso_3166_1_alpha2,iso_3166_1_alpha3,iso_3166_1_numeric,nuts_0
0,Afghanistan,Afghanistan,33.939110,67.709953,af,afg,4,AF
1,Albania,Albanien,41.153332,20.168331,al,alb,8,AL
2,Antarctica,Antarktis (Sonderstatus durch Antarktisvertrag),-75.250973,-0.071389,aq,ata,10,AQ
3,Algeria,Algerien,28.033886,1.659626,dz,dza,12,DZ
4,American Samoa,Amerikanisch-Samoa,-14.270972,-170.132217,as,asm,16,AS