In [58]:
from sqlalchemy import MetaData, create_engine, ForeignKey, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

engine = create_engine('sqlite:///corona_analysis.db', echo=True)
meta_data = MetaData(bind=engine)
Base = declarative_base()

# Agegroups

In [50]:
class Agegroups_05y(Base):
   __tablename__ = '_agegroups_05y'
   #__table_args__ = {'extend_existing': True}

   agegroups_05y_id = Column(Integer, primary_key = True)
   agegroup = Column(String, nullable=False, unique=True)

class Agegroups_10y(Base):
   __tablename__ = '_agegroups_10y'

   agegroups_10y_id = Column(Integer, primary_key = True)
   agegroup = Column(String, nullable=False, unique=True)
   number_observations = Column(Integer)
   avg_age = Column(Float)

/tmp/ipykernel_3623/1310360661.py:1: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Agegroups_05y, and will be replaced in the string-lookup table.
  class Agegroups_05y(Base):
/tmp/ipykernel_3623/1310360661.py:8: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Agegroups_10y, and will be replaced in the string-lookup table.
  class Agegroups_10y(Base):

In [25]:
def add_new_agegroup_05y(session: sessionmaker, agegroup: str):
    """
    Adds a new agegroup with a 5-year-interval
    """
    
    # check if agegroup already exist
    new_agegroup = (
        session.query(Agegroups_05y)
        .filter(Agegroups_05y.agegroup == agegroup)
    ).one_or_none()

    if new_agegroup is not None:
        return
    
    # create new agegroup
    new_agegroup = Agegroups_05y(agegroup=agegroup)
    
    # write to DB
    session.add(new_agegroup)
    session.commit()

In [18]:
Base.metadata.create_all(engine)

2022-07-01 23:33:05,709 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:33:05,710 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_agegroups_05y")
2022-07-01 23:33:05,710 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 23:33:05,711 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_agegroups_05y")
2022-07-01 23:33:05,711 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 23:33:05,712 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_agegroups_10y")
2022-07-01 23:33:05,712 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 23:33:05,713 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_agegroups_10y")
2022-07-01 23:33:05,713 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 23:33:05,713 INFO sqlalchemy.engine.Engine
CREATE TABLE _agegroups_05y (
	agegroups_05y_id INTEGER NOT NULL,
	agegroup VARCHAR NOT NULL,
	PRIMARY KEY (agegroups_05y_id),
	UNIQUE (agegroup)
)


2022-07-01 23:33:05,714 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2022-07-01 23:33:05,716 INFO sqlalchemy.engine.Engine
CREATE TABLE _agegroups_10y (
	agegroups_10y_id INTEGER NOT NULL,
	agegroup VARCHAR NOT NULL,
	number_observations INTEGER,
	avg_age FLOAT,
	PRIMARY KEY (agegroups_10y_id),
	UNIQUE (agegroup)
)


2022-07-01 23:33:05,717 INFO sqlalchemy.engine.Engine [no key 0.00035s] ()
2022-07-01 23:33:05,719 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
# create session object which will be used for connection
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [30]:
agegroups_05y = [
    "00-04",
    "05-09",
    "10-14",
    "15-19",
    "20-24",
    "25-29",
    "30-34",
    "35-39",
    "40-44",
    "45-49",
    "50-54",
    "55-59",
    "60-64",
    "65-69",
    "70-74",
    "75-79",
    "80+",
    "UNK"
]
for item in agegroups_05y:
    add_new_agegroup_05y(session=session, agegroup=item)

2022-07-01 23:44:19,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:44:19,249 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,250 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('00-04',)
2022-07-01 23:44:19,251 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,251 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('05-09',)
2022-07-01 23:44:19,252 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,252 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('10-14',)
2022-07-01 23:44:19,253 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,253 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('15-19',)
2022-07-01 23:44:19,254 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,255 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('20-24',)
2022-07-01 23:44:19,255 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,255 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('25-29',)
2022-07-01 23:44:19,256 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,256 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('30-34',)
2022-07-01 23:44:19,257 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,257 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('35-39',)
2022-07-01 23:44:19,258 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,259 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('40-44',)
2022-07-01 23:44:19,260 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,260 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('45-49',)
2022-07-01 23:44:19,261 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,261 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('50-54',)
2022-07-01 23:44:19,262 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,262 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('55-59',)
2022-07-01 23:44:19,263 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,263 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('60-64',)
2022-07-01 23:44:19,264 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,264 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('65-69',)
2022-07-01 23:44:19,265 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,265 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('70-74',)
2022-07-01 23:44:19,266 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,266 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('75-79',)
2022-07-01 23:44:19,267 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,268 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('80+',)
2022-07-01 23:44:19,269 INFO sqlalchemy.engine.Engine SELECT _agegroups_05y.agegroups_05y_id AS _agegroups_05y_agegroups_05y_id, _agegroups_05y.agegroup AS _agegroups_05y_agegroup
FROM _agegroups_05y
WHERE _agegroups_05y.agegroup = ?
2022-07-01 23:44:19,269 INFO sqlalchemy.engine.Engine [cached since 505.6s ago] ('UNK',)

In [34]:
def add_new_agegroup_10y(session: sessionmaker, agegroup: str, number_observations: int, avg_age: float):
    """
    Adds a new agegroup with a 10-year-interval
    """
    
    # check if agegroup already exist
    new_agegroup = (
        session.query(Agegroups_10y)
        .filter(Agegroups_10y.agegroup == agegroup)
    ).one_or_none()

    if new_agegroup is not None:
        return
    
    # create new agegroup
    new_agegroup = Agegroups_10y(
        agegroup=agegroup, 
        number_observations=number_observations, 
        avg_age=avg_age
    )
    
    # write to DB
    session.add(new_agegroup)
    session.commit()

In [35]:
agegroups_10y = { # agegroup, [number_observations, avg_age]
    "00-09": [10, 4.5],
    "10-19": [10, 14.5],
    "20-29": [10, 24.5],
    "30-39": [10, 34.5],
    "40-49": [10, 44.5],
    "50-59": [10, 54.5],
    "60-69": [10, 64.5],
    "70-79": [10, 74.5],
    "80+": [21, 90],
    "UNK": [0, 0],
}
for k, v, in agegroups_10y.items():
    add_new_agegroup_10y(session=session, agegroup=k, number_observations=v[0], avg_age=v[1])

2022-07-01 23:51:02,318 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,320 INFO sqlalchemy.engine.Engine [generated in 0.00160s] ('00-09',)
2022-07-01 23:51:02,321 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,321 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ('00-09', 10, 4.5)
2022-07-01 23:51:02,322 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,324 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,325 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,325 INFO sqlalchemy.engine.Engine [cached since 0.006968s ago] ('10-19',)
2022-07-01 23:51:02,326 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,326 INFO sqlalchemy.engine.Engine [cached since 0.005269s ago] ('10-19', 10, 14.5)
2022-07-01 23:51:02,327 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,329 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,329 INFO sqlalchemy.engine.Engine [cached since 0.01102s ago] ('20-29',)
2022-07-01 23:51:02,330 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,331 INFO sqlalchemy.engine.Engine [cached since 0.009776s ago] ('20-29', 10, 24.5)
2022-07-01 23:51:02,332 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,333 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,334 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,334 INFO sqlalchemy.engine.Engine [cached since 0.01633s ago] ('30-39',)
2022-07-01 23:51:02,335 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,335 INFO sqlalchemy.engine.Engine [cached since 0.01455s ago] ('30-39', 10, 34.5)
2022-07-01 23:51:02,336 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,338 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,339 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,339 INFO sqlalchemy.engine.Engine [cached since 0.02084s ago] ('40-49',)
2022-07-01 23:51:02,340 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,340 INFO sqlalchemy.engine.Engine [cached since 0.01913s ago] ('40-49', 10, 44.5)
2022-07-01 23:51:02,341 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,343 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,344 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,344 INFO sqlalchemy.engine.Engine [cached since 0.02616s ago] ('50-59',)
2022-07-01 23:51:02,345 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,345 INFO sqlalchemy.engine.Engine [cached since 0.02458s ago] ('50-59', 10, 54.5)
2022-07-01 23:51:02,346 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,348 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,348 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,349 INFO sqlalchemy.engine.Engine [cached since 0.03069s ago] ('60-69',)
2022-07-01 23:51:02,350 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,350 INFO sqlalchemy.engine.Engine [cached since 0.02915s ago] ('60-69', 10, 64.5)
2022-07-01 23:51:02,351 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,353 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,353 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,354 INFO sqlalchemy.engine.Engine [cached since 0.03562s ago] ('70-79',)
2022-07-01 23:51:02,355 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,355 INFO sqlalchemy.engine.Engine [cached since 0.03402s ago] ('70-79', 10, 74.5)
2022-07-01 23:51:02,355 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,357 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,357 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,358 INFO sqlalchemy.engine.Engine [cached since 0.03971s ago] ('80+',)
2022-07-01 23:51:02,359 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,359 INFO sqlalchemy.engine.Engine [cached since 0.03801s ago] ('80+', 21, 90.0)
2022-07-01 23:51:02,360 INFO sqlalchemy.engine.Engine COMMIT
2022-07-01 23:51:02,361 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 23:51:02,362 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y
WHERE _agegroups_10y.agegroup = ?
2022-07-01 23:51:02,362 INFO sqlalchemy.engine.Engine [cached since 0.04431s ago] ('UNK',)
2022-07-01 23:51:02,364 INFO sqlalchemy.engine.Engine INSERT INTO _agegroups_10y (agegroup, number_observations, avg_age) VALUES (?, ?, ?)
2022-07-01 23:51:02,364 INFO sqlalchemy.engine.Engine [cached since 0.04292s ago] ('UNK', 0, 0.0)
2022-07-01 23:51:02,364 INFO sqlalchemy.engine.Engine COMMIT

In [39]:
def get_agegroups_05y(session: sessionmaker):
    """Get a list of agegroup objects with a 05-year interval"""
    return session.query(Agegroups_05y).order_by(Agegroups_05y.agegroup).all()

def get_agegroups_10y(session: sessionmaker):
    """Get a list of agegroup objects with a 10-year interval"""
    return session.query(Agegroups_10y).order_by(Agegroups_10y.agegroup).all()

2022-07-01 23:55:21,805 INFO sqlalchemy.engine.Engine SELECT _agegroups_10y.agegroups_10y_id AS _agegroups_10y_agegroups_10y_id, _agegroups_10y.agegroup AS _agegroups_10y_agegroup, _agegroups_10y.number_observations AS _agegroups_10y_number_observations, _agegroups_10y.avg_age AS _agegroups_10y_avg_age
FROM _agegroups_10y ORDER BY _agegroups_10y.agegroup
2022-07-01 23:55:21,806 INFO sqlalchemy.engine.Engine [cached since 43.91s ago] ()
00-09
10-19
20-29
30-39
40-49
50-59
60-69
70-79
80+
UNK

# Calendar

In [96]:
engine = create_engine('sqlite:///corona_analysis.db', echo=True)
meta_data = MetaData(bind=engine)
Base = declarative_base()

In [97]:
class CalendarYears(Base):
    __tablename__ = "_calendar_years"

    calendar_years_id = Column(Integer, primary_key=True)
    iso_year = Column(Integer, nullable=False, unique=True)
    calendar_weeks = relationship("CalendarWeeks", backref="_calendar_years")

In [98]:
class CalendarWeeks(Base):
    __tablename__ = "_calendar_weeks"

    calendar_weeks_id = Column(Integer, primary_key=True)
    calendar_years_fk = Column(Integer, ForeignKey("_calendar_years.calendar_years_id"), nullable=False)
    iso_week = Column(Integer, nullable=False)
    iso_key = Column(Integer, nullable=False, unique=True)
    calendar_years = relationship("CalendarDays", backref="_calendar_weeks")

In [99]:
class CalendarDays(Base):
    __tablename__ = "_calendar_days"

    calendar_days_id = Column(Integer, primary_key=True)
    calendar_weeks_fk = Column(Integer, ForeignKey("_calendar_weeks.calendar_weeks_id"), nullable=False)
    iso_day = Column(String, nullable=False, unique=True)

In [100]:
Base.metadata.create_all(engine)

2022-07-02 00:56:00,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:00,976 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_calendar_years")
2022-07-02 00:56:00,976 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 00:56:00,977 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_calendar_years")
2022-07-02 00:56:00,977 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 00:56:00,978 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_calendar_weeks")
2022-07-02 00:56:00,978 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 00:56:00,979 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_calendar_weeks")
2022-07-02 00:56:00,979 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 00:56:00,980 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_calendar_days")
2022-07-02 00:56:00,980 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 00:56:00,980 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_calendar_days")
2022-07-02 00:56:00,981 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-02 00:56:00,981 INFO sqlalchemy.engine.Engine
CREATE TABLE _calendar_years (
	calendar_years_id INTEGER NOT NULL,
	iso_year INTEGER NOT NULL,
	PRIMARY KEY (calendar_years_id),
	UNIQUE (iso_year)
)


2022-07-02 00:56:00,982 INFO sqlalchemy.engine.Engine [no key 0.00090s] ()
2022-07-02 00:56:00,984 INFO sqlalchemy.engine.Engine
CREATE TABLE _calendar_weeks (
	calendar_weeks_id INTEGER NOT NULL,
	calendar_years_fk INTEGER NOT NULL,
	iso_week INTEGER NOT NULL,
	iso_key INTEGER NOT NULL,
	PRIMARY KEY (calendar_weeks_id),
	FOREIGN KEY(calendar_years_fk) REFERENCES _calendar_years (calendar_years_id),
	UNIQUE (iso_key)
)


2022-07-02 00:56:00,985 INFO sqlalchemy.engine.Engine [no key 0.00050s] ()
2022-07-02 00:56:00,987 INFO sqlalchemy.engine.Engine
CREATE TABLE _calendar_days (
	calendar_days_id INTEGER NOT NULL,
	calendar_weeks_fk INTEGER NOT NULL,
	iso_day VARCHAR NOT NULL,
	PRIMARY KEY (calendar_days_id),
	FOREIGN KEY(calendar_weeks_fk) REFERENCES _calendar_weeks (calendar_weeks_id),
	UNIQUE (iso_day)
)


2022-07-02 00:56:00,987 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2022-07-02 00:56:00,988 INFO sqlalchemy.engine.Engine COMMIT

In [101]:
def add_new_calendar_year(session: sessionmaker, calendar_year: int) -> None:
    """
    Adds a new calendar year
    """
    
    # check if calendar year already exist
    new_calendar_year = (
        session.query(CalendarYears)
        .filter(CalendarYears.iso_year == calendar_year)
    ).one_or_none()

    if new_calendar_year is not None:
        return
    
    # create new agegroup
    new_calendar_year = CalendarYears(
        iso_year=calendar_year
    )
    
    # write to DB
    session.add(new_calendar_year)
    session.commit()

In [102]:
for year in range(1990, 2050):
    add_new_calendar_year(session=session, calendar_year=year)

2022-07-02 00:56:03,431 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,433 INFO sqlalchemy.engine.Engine [generated in 0.00174s] (1990,)
2022-07-02 00:56:03,434 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,435 INFO sqlalchemy.engine.Engine [generated in 0.00051s] (1990,)
2022-07-02 00:56:03,436 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,437 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,438 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,438 INFO sqlalchemy.engine.Engine [cached since 0.006951s ago] (1991,)
2022-07-02 00:56:03,439 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,439 INFO sqlalchemy.engine.Engine [cached since 0.004663s ago] (1991,)
2022-07-02 00:56:03,440 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,442 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,442 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,442 INFO sqlalchemy.engine.Engine [cached since 0.01118s ago] (1992,)
2022-07-02 00:56:03,443 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,443 INFO sqlalchemy.engine.Engine [cached since 0.009107s ago] (1992,)
2022-07-02 00:56:03,444 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,446 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,446 INFO sqlalchemy.engine.Engine [cached since 0.01503s ago] (1993,)
2022-07-02 00:56:03,447 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,447 INFO sqlalchemy.engine.Engine [cached since 0.01298s ago] (1993,)
2022-07-02 00:56:03,448 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,449 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,450 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,450 INFO sqlalchemy.engine.Engine [cached since 0.01876s ago] (1994,)
2022-07-02 00:56:03,452 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,452 INFO sqlalchemy.engine.Engine [cached since 0.01783s ago] (1994,)
2022-07-02 00:56:03,453 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,455 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,455 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,455 INFO sqlalchemy.engine.Engine [cached since 0.02427s ago] (1995,)
2022-07-02 00:56:03,456 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,457 INFO sqlalchemy.engine.Engine [cached since 0.02246s ago] (1995,)
2022-07-02 00:56:03,457 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,459 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,460 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,460 INFO sqlalchemy.engine.Engine [cached since 0.02869s ago] (1996,)
2022-07-02 00:56:03,461 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,461 INFO sqlalchemy.engine.Engine [cached since 0.02657s ago] (1996,)
2022-07-02 00:56:03,462 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,464 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,465 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,465 INFO sqlalchemy.engine.Engine [cached since 0.03388s ago] (1997,)
2022-07-02 00:56:03,466 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,467 INFO sqlalchemy.engine.Engine [cached since 0.03238s ago] (1997,)
2022-07-02 00:56:03,467 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,469 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,470 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,470 INFO sqlalchemy.engine.Engine [cached since 0.03872s ago] (1998,)
2022-07-02 00:56:03,471 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,471 INFO sqlalchemy.engine.Engine [cached since 0.03696s ago] (1998,)
2022-07-02 00:56:03,472 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,473 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,474 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,474 INFO sqlalchemy.engine.Engine [cached since 0.0429s ago] (1999,)
2022-07-02 00:56:03,475 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,475 INFO sqlalchemy.engine.Engine [cached since 0.04109s ago] (1999,)
2022-07-02 00:56:03,476 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,478 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,479 INFO sqlalchemy.engine.Engine [cached since 0.04731s ago] (2000,)
2022-07-02 00:56:03,480 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,480 INFO sqlalchemy.engine.Engine [cached since 0.04582s ago] (2000,)
2022-07-02 00:56:03,481 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,483 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,484 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,484 INFO sqlalchemy.engine.Engine [cached since 0.0531s ago] (2001,)
2022-07-02 00:56:03,486 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,486 INFO sqlalchemy.engine.Engine [cached since 0.05178s ago] (2001,)
2022-07-02 00:56:03,487 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,488 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,489 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,489 INFO sqlalchemy.engine.Engine [cached since 0.05781s ago] (2002,)
2022-07-02 00:56:03,490 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,490 INFO sqlalchemy.engine.Engine [cached since 0.05609s ago] (2002,)
2022-07-02 00:56:03,491 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,493 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,494 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,494 INFO sqlalchemy.engine.Engine [cached since 0.06296s ago] (2003,)
2022-07-02 00:56:03,495 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,496 INFO sqlalchemy.engine.Engine [cached since 0.06122s ago] (2003,)
2022-07-02 00:56:03,496 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,498 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,498 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,499 INFO sqlalchemy.engine.Engine [cached since 0.06735s ago] (2004,)
2022-07-02 00:56:03,500 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,500 INFO sqlalchemy.engine.Engine [cached since 0.06554s ago] (2004,)
2022-07-02 00:56:03,500 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,502 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,503 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,503 INFO sqlalchemy.engine.Engine [cached since 0.07173s ago] (2005,)
2022-07-02 00:56:03,504 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,504 INFO sqlalchemy.engine.Engine [cached since 0.06966s ago] (2005,)
2022-07-02 00:56:03,505 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,507 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,508 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,509 INFO sqlalchemy.engine.Engine [cached since 0.07729s ago] (2006,)
2022-07-02 00:56:03,509 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,510 INFO sqlalchemy.engine.Engine [cached since 0.07521s ago] (2006,)
2022-07-02 00:56:03,510 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,512 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,513 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,513 INFO sqlalchemy.engine.Engine [cached since 0.08183s ago] (2007,)
2022-07-02 00:56:03,515 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,515 INFO sqlalchemy.engine.Engine [cached since 0.08053s ago] (2007,)
2022-07-02 00:56:03,516 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,518 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,518 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,519 INFO sqlalchemy.engine.Engine [cached since 0.08741s ago] (2008,)
2022-07-02 00:56:03,520 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,520 INFO sqlalchemy.engine.Engine [cached since 0.08594s ago] (2008,)
2022-07-02 00:56:03,521 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,523 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,524 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,524 INFO sqlalchemy.engine.Engine [cached since 0.09301s ago] (2009,)
2022-07-02 00:56:03,525 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,526 INFO sqlalchemy.engine.Engine [cached since 0.09139s ago] (2009,)
2022-07-02 00:56:03,527 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,530 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,530 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,531 INFO sqlalchemy.engine.Engine [cached since 0.09972s ago] (2010,)
2022-07-02 00:56:03,532 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,532 INFO sqlalchemy.engine.Engine [cached since 0.09806s ago] (2010,)
2022-07-02 00:56:03,533 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,536 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,536 INFO sqlalchemy.engine.Engine [cached since 0.1047s ago] (2011,)
2022-07-02 00:56:03,537 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,537 INFO sqlalchemy.engine.Engine [cached since 0.1029s ago] (2011,)
2022-07-02 00:56:03,538 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,540 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,540 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,541 INFO sqlalchemy.engine.Engine [cached since 0.1096s ago] (2012,)
2022-07-02 00:56:03,542 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,542 INFO sqlalchemy.engine.Engine [cached since 0.1077s ago] (2012,)
2022-07-02 00:56:03,543 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,545 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,545 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,546 INFO sqlalchemy.engine.Engine [cached since 0.1147s ago] (2013,)
2022-07-02 00:56:03,547 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,547 INFO sqlalchemy.engine.Engine [cached since 0.1129s ago] (2013,)
2022-07-02 00:56:03,548 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,550 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,551 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,552 INFO sqlalchemy.engine.Engine [cached since 0.1206s ago] (2014,)
2022-07-02 00:56:03,553 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,554 INFO sqlalchemy.engine.Engine [cached since 0.1192s ago] (2014,)
2022-07-02 00:56:03,554 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,557 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,558 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,558 INFO sqlalchemy.engine.Engine [cached since 0.1269s ago] (2015,)
2022-07-02 00:56:03,559 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,559 INFO sqlalchemy.engine.Engine [cached since 0.125s ago] (2015,)
2022-07-02 00:56:03,560 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,562 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,562 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,563 INFO sqlalchemy.engine.Engine [cached since 0.1315s ago] (2016,)
2022-07-02 00:56:03,564 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,564 INFO sqlalchemy.engine.Engine [cached since 0.1295s ago] (2016,)
2022-07-02 00:56:03,565 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,566 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,567 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,567 INFO sqlalchemy.engine.Engine [cached since 0.1358s ago] (2017,)
2022-07-02 00:56:03,568 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,568 INFO sqlalchemy.engine.Engine [cached since 0.1339s ago] (2017,)
2022-07-02 00:56:03,569 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,571 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,571 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,572 INFO sqlalchemy.engine.Engine [cached since 0.1404s ago] (2018,)
2022-07-02 00:56:03,573 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,573 INFO sqlalchemy.engine.Engine [cached since 0.1389s ago] (2018,)
2022-07-02 00:56:03,574 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,576 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,577 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?
2022-07-02 00:56:03,577 INFO sqlalchemy.engine.Engine [cached since 0.1456s ago] (2019,)
2022-07-02 00:56:03,578 INFO sqlalchemy.engine.Engine INSERT INTO _calendar_years (iso_year) VALUES (?)
2022-07-02 00:56:03,578 INFO sqlalchemy.engine.Engine [cached since 0.1437s ago] (2019,)
2022-07-02 00:56:03,579 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:56:03,580 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:56:03,581 INFO sqlalchemy.engine.Engine SELECT _calendar_years.calendar_years_id AS _calendar_years_calendar_years_id, _calendar_years.iso_year AS _calendar_years_iso_year
FROM _calendar_years
WHERE _calendar_years.iso_year = ?

In [95]:
#CalendarDays.__table__.drop(engine)
#CalendarWeeks.__table__.drop(engine)
#CalendarYears.__table__.drop(engine)

2022-07-02 00:55:32,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:55:32,329 INFO sqlalchemy.engine.Engine
DROP TABLE _calendar_weeks
2022-07-02 00:55:32,329 INFO sqlalchemy.engine.Engine [no key 0.00053s] ()
2022-07-02 00:55:32,331 INFO sqlalchemy.engine.Engine COMMIT
2022-07-02 00:55:32,333 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-02 00:55:32,333 INFO sqlalchemy.engine.Engine
DROP TABLE _calendar_years
2022-07-02 00:55:32,333 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
2022-07-02 00:55:32,335 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
class Invoice(Base):
   __tablename__ = 'invoices'
   
   id = Column(Integer, primary_key = True)
   custid = Column(Integer, ForeignKey('customers.id'))
   invno = Column(Integer)
   amount = Column(Integer)
   customer = relationship("Customer", back_populates = "invoices")

In [12]:
Customer.invoices = relationship("Invoice", order_by = Invoice.id, back_populates = "customer")
Base.metadata.create_all(engine)

2022-07-01 22:44:39,419 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-01 22:44:39,419 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2022-07-01 22:44:39,420 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 22:44:39,420 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2022-07-01 22:44:39,421 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 22:44:39,422 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoices")
2022-07-01 22:44:39,422 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 22:44:39,423 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoices")
2022-07-01 22:44:39,423 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-01 22:44:39,424 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id INTEGER NOT NULL,
	name VARCHAR,
	address VARCHAR,
	email VARCHAR,
	PRIMARY KEY (id)
)


2022-07-01 22:44:39,424 INFO sqlalchemy.engine.Engine [no key 0.00028s] ()
2022-07-01 22:44:39,427 INFO sqlalchemy.engine.Engine
CREATE TABLE invoices (
	id INTEGER NOT NULL,
	custid INTEGER,
	invno INTEGER,
	amount INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(custid) REFERENCES customers (id)
)


2022-07-01 22:44:39,427 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2022-07-01 22:44:39,428 INFO sqlalchemy.engine.Engine COMMIT